[2018-10-04 15:05] alexashley opened #14 "Support protocol mappers"
[REST API docs](https://www.keycloak.org/docs-api/4.5/rest-api/index.html#_protocol_mappers_resource)

Admin UI:

![screen shot 2018-10-04 at 10 04 58 am](https://user-images.githubusercontent.com/9082799/46483328-fdc31600-c7bc-11e8-8e26-dd41276d0df1.png)

There are a number of these so there would probably resources for each rather than a shared mega-resource.

Example Terraform config for adding

[2018-10-04 15:51] alexashley commented on #14
1. Not that familiar with client scopes, but allowing for client and client scopes to share the resource seems like a good idea.
2. If the APIs are that different between openid connect and saml, then I agree that it makes sense to split them out. I don't imagine there's a use case for changing one protocol to the other.

[2018-10-04 23:38] alexashley opened #15 "Support flows and executions"
This would allow for Terraform to manage arbitrary execution flows that can then override the default flows on either a client or realm-level; the main benefit being that it would allow for custom authenticators to be used to paper over legacy auth solutions or even to require customers to accept new terms and conditions.

API docs:
- [flows](https://www.keycloak.org/docs-api/4.5/rest-api/index.ht

[2018-10-04 23:52] alexashley commented on #14
I'm going to take a shot at implementing this.

[2018-10-16 13:43] mrparkers opened #30 "standardize indentation in tf config for acceptance tests"
- tabs for indentation. [example that needs to be fixed](https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/keycloak_ldap_group_mapper_test.go#L326)
- align properties on `=`. [example that needs to be fixed](https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/keycloak_ldap_group_mapper_test.go#L349-L351)

[2018-10-16 14:14] mrparkers opened #31 "keycloak_realm: token lifespan settings all default to 0"
I forgot to use `omitempty` for the POST body for those properties 🤦‍♂️

[2018-10-17 13:25] mrparkers opened #32 "keycloak_realm: occasionally gets a 500 when attempting to delete"
this seems to only happen during acceptance tests (where lots of realms are being created and destroyed), but it's still annoying enough to document it here.  a temporary fix was added in #29

[2018-10-18 23:43] #31 closed

[2018-10-22 08:38] cthiebault opened #34 "Merge with https://github.com/tazjin/terraform-provider-keycloak?"
Hello
Thanks for the great work you did on Terraforming Keycloak!!!
It's too bad to have 2 providers covering different parts of Keycloak instead of one with better coverage...

Is there a reason why you didn't go with https://github.com/tazjin/terraform-provider-keycloak?
It seems to be existing since a moment now...

Cedric

[2018-10-22 13:30] mrparkers commented on #34
Hi @cthiebault

I decided against using the existing provider because it was mentioned in https://github.com/tazjin/terraform-provider-keycloak/pull/24 that it was no longer actively maintained.    I wanted to be able to work on this provider at my own pace and not be held up by the lack of merge rights, and I also wanted to set up acceptance tests and CI, which would have required some owner perm

[2018-10-23 15:34] cthiebault commented on #34
Thanks @mrparkers for your explanation!
I didn't know that the other repo was no longer maintained...

I'll create issues for feature I would like to use... and I'll try to contribute to this repo ;-)

[2018-10-23 17:56] mrparkers commented on #34
Sounds great!  Please open an issue if you want to work on something and have any questions for me :smile:

Just so you know, I only have a couple more resources to implement before I release 1.0.0, which should make using the provider easier, since I will have some built binaries ready to download and use.

I'm going to close this issue since I think your original question has been answered.

[2018-10-23 17:56] #34 closed

[2018-10-24 18:03] mrparkers opened #38 "missing import tests for protocol mapper resources"

[2018-10-25 13:43] #30 closed

[2018-10-26 14:47] mrparkers opened #42 "add validation to enforce unique names for protocol mappers"
for some reason, two _different_ protocol mappers can't have the same name.  example tf config that fails with a 409 conflict:

[code]

validation should be added to ensure that you can't create a protocol mapper with the same name as another one, and give a good error message instead of "409 conflict"

[2018-10-30 16:10] #42 closed

[2018-10-30 19:00] #38 closed

[2018-10-30 19:51] mrparkers opened #45 "use the same import function for all protocol mappers"

[2018-10-30 19:53] mrparkers opened #46 "avoid using http verbs in function names within the provider package"
example that should be fixed: https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/keycloak_realm.go#L172

I prefer terms like `map` over `get` since `get` can mean many different things within the context of a provider interacting with a restful API

[2018-10-30 20:53] mrparkers opened #48 "validate methods should use KeycloakClient as receiver"
some validate methods require some communication with the keycloak server, so I have been passing a pointer to the keycloak client in order to do this.  instead of this, all validate methods should use the keycloak client as a receiver and take the struct that is being validated as an argument.

[2018-10-31 13:55] #48 closed

[2018-11-05 16:20] alexashley opened #52 "Add additional realm fields"
It would be great to manage the email options for a realm; this is needed for "forgot password" emails and email verification.

<img width="982" alt="screen shot 2018-11-05 at 10 16 10 am" src="https://user-images.githubusercontent.com/9082799/48010767-d75a0880-e0e3-11e8-8c75-56e90c243171.png">

Another missing field is `offline_session_max_lifespan_enabled`. It controls whether [`offline_session_

[2018-11-05 16:22] alexashley opened #53 "Add ability to disable direct access grants for a client"
This would entail adding `direct_access_grants_enabled` to `keycloak_openid_client`. Most applications should go through the standard flow and should not be able to use the resource owner credentials flow.

[2018-11-05 16:26] alexashley opened #54 "Add ability to disable text on consent screen for client scopes"
There's currently a `consent_screen_text` field on the client scope resource, but no way to disable text entirely (this is configurable on a client basis as well).

For the API, it looks like this requires setting `attributes.display.on.consent.screen`.

[2018-11-05 16:29] alexashley opened #55 "Custom cache periods for user federation"
Currently it's only possible to use the `DEFAULT` or `NO_CACHE` cache policies with the provider; all the other cache policies require some user input (e.g., `EVICT_DAILY` needs to know the hour and minute to evict).

[2018-11-05 20:38] mrparkers opened #56 "assign client scopes to a client"
Tagged as "new resource" because I think a separate resource is the best way to do this.

Authoritative:
[code]

Non authoritative:
[code]

thoughts:

1. it should be okay to reference scopes by their name since those are supposed to be unique across the realm.  my only issue with this is all of the other resources reference other resources by id, but doing this would make it hard to reference pre

[2018-11-07 20:36] mrparkers commented on #56
client scopes can't be attached to clients marked as "bearer-only".  need to add validation for this.

[2018-11-09 20:37] zpratt opened #60 "bind_credential cannot be updated after being created"
Since the diff has to be ignored after initial creation, there is a bug if you go to update the bind_credential after the resource is initially provisioned.

[2018-11-11 15:23] mrparkers opened #62 "provider should support using other realms for authentication"
Currently, this provider assumes you will be using the `master` realm for authentication and configuring Keycloak, but I think it makes sense to want to use other realms for this too, perhaps to limit the scope of a service account to only one realm, or to allow different teams to configure their own realms without being given access to `master`.

In particular, I think the provider would have to

[2018-11-16 19:23] alexashley commented on #52
Another useful field is password policy, which can be used even when federating from a custom provider (as long as the provider calls validate on the `PasswordPolicyManagerProvider`).

https://www.keycloak.org/docs/latest/server_admin/index.html#_password-policies

[2018-11-17 21:43] #60 closed

[2018-11-27 14:51] #53 closed

[2018-11-28 09:31] fabienberteau opened #69 "Provider should support data sources"
In order to read Keycloak generated credentials, provider should support data source on client and user.

[2018-11-29 22:16] mrparkers commented on #69
Hi @fabienberteau, thanks for the suggestion!  I definitely want to support data sources that can be used to query information for manually configured resources.

Could you help me understand what your particular use case here is?  I understand wanting a `keycloak_openid_client` data source in order to programmatically retrieve the client secret, but what were you hoping to accomplish with a data

[2018-11-29 22:17] mrparkers opened #70 "user_info => userinfo"
this definitely seems like it should be one word: https://openid.net/specs/openid-connect-core-1_0.html#UserInfo

there are several places in the code where this could be changed.

[2018-11-30 15:09] mrparkers opened #71 "protocol mapper token setting attributes are inconsistent"
I think I prefer `add_to_id_token` over `id_token_claim`, as an example.

[2018-12-31 20:21] mrparkers opened #75 "keycloak_group_memberships: 404 response not handled"
If a group that has its members controlled by `keycloak_group_memberships` is manually deleted, subsequent plans or applies will fail.  It should automatically be removed from state if the group no longer exists.

[2019-01-02 17:48] Floby opened #76 "Create an initial password when creating a user"
This is less a feature request than a mergeability poll, as I'm very much inclined to submit a pull request for this.

My feature would be

+ When a user is created and `initial_password` is set
A call to `/users/{user_id}reset-password` is made to initialize a password.

+ When a user is updated and `initial_password` is set
No further call is made

+ When `initial_password` is not set, do as is

[2019-01-02 19:35] Floby commented on #76
It's exactly that :)

You're right, I'm not sure either if the password is required to be
temporary. This is no problem for me as this fits my use case but it might
indeed be tricky to test.

Le mer. 2 janv. 2019 à 20:28, Michael Parker <notifications@github.com> a
écrit :

[2019-01-02 23:12] alexashley commented on #76
There's a `temporary` field on the [`CredentialRepresentation`](https://www.keycloak.org/docs-api/4.8/rest-api/index.html#_credentialrepresentation) object. It's part of the payload for the initial [user post](https://www.keycloak.org/docs-api/4.8/rest-api/index.html#_users_resource). I've used it before to setup test users that didn't require password resets.

[2019-01-03 16:32] mrparkers opened #78 "ldap protocol mappers: missing import validation"
Just got burned by a lack of import validation for any ldap protocol mapper.  It should check to ensure you're providing the realm, ldap federation ID, and mapper ID, and tests should be added around this as well.

[2019-01-03 16:42] mrparkers opened #79 "ldap user attribute mapper: don't assume all fields will be returned by Keycloak API"
[this line](https://github.com/mrparkers/terraform-provider-keycloak/blob/master/keycloak/ldap_user_attribute_mapper.go#L59) can fail if the ldap user federation provider has cache disabled, because the Keycloak API won't return this field

[2019-01-03 18:49] #79 closed

[2019-01-07 14:34] #76 closed

[2019-02-02 16:13] phillipj opened #87 "Hi from the other terraform-provider-keycloak"
Hi there,

whilst looking through the list of community terraform providers, I got surprised a provider for Keycloak was listed. I though the one I've been contributing to and using at work the last couple of years, was the only one around -- obviously not, hoooray! 😄

Have you seen [tazjin/terraform-provider-keycloak](https://github.com/tazjin/terraform-provider-keycloak) before? It was initially

[2019-02-03 11:50] phillipj commented on #87
Sounds great, appreciate the quick response! I definitively understand your initial concerns as you described in https://github.com/mrparkers/terraform-provider-keycloak/issues/34 that made you create a new provider project instead 👍

I'd love if we could collaborate on creating *one* good Keycloak provider, rather than developing two different providers with the same intention in parallel. Surely

[2019-02-03 11:50] #87 closed

[2019-02-08 12:26] romijung opened #90 "401 Unauthorized error"
@mrparkers Thank you for providing terraform provider for keycloak.
I would like to use this plugin for my keycloak.
but when I tried to use it, I have 401 Unauthorized error.

I was assuming that my keycloak configuration was  wrong. ( I gave admin role to the keycloak client )
but when I tested with keycloak plugin provided from https://github.com/tazjin/terraform-provider-keycloak, it's working

[2019-02-08 13:14] romijung commented on #90
I found the reason,,
I didn't create client in `MASTER` realm, that's why I had 401 error

[2019-02-08 13:14] #90 closed

[2019-02-08 14:43] mrparkers commented on #90
Yeah, one of the differences between the two providers is that this one requires you to auth against the `master` realm.  #88 was opened to address this, allowing you to use whatever realm you want to auth against Keycloak.

Sorry for the inconvenience!  I'd suggest keeping an eye on that PR so you can change your configuration back to what it was before once it is merged.

[2019-02-13 14:51] mrparkers opened #91 "backfill test for authenticating against non-master realm"
Some acceptance tests are needed for authenticating against a non-master realm, which was added in #88.

[2019-02-22 14:46] mrparkers commented on #62
Closed via #88

[2019-02-22 14:46] #62 closed

[2019-02-22 18:39] mrparkers commented on #75
Closed by #95

[2019-02-22 18:39] #75 closed

[2019-03-04 13:16] kristofmartens opened #99 "Upload provider plugin releases to open domain to allow unauthenticated downloads"
It is not possible to download the releases as a machine user without github credentials. Would it be possible to also upload the artifacts to an official S3 bucket where the plugin can be downloaded freely without credentials. This is necessary for building docker images in our CI/CD system that require unauthenticated access to these artifacts.

[2019-03-04 14:38] mrparkers commented on #99
Hi @kristofmartens, thanks for the issue.  I have no problem with doing this, but are you sure that authentication is required in order to download releases?  I ask because the Docker image that I use in my pipeline can be built without requiring authentication to GitHub:

[code]

Could you give something like that a try and let me know if it works for you?  If not, I'm happy to upload releases so

[2019-03-04 14:51] kristofmartens commented on #99
Wget indeed did the trick. Got failures with curl for some reasons.
Thanks for the fast response!

[2019-03-04 14:51] #99 closed

[2019-03-04 14:55] mrparkers commented on #99
Happy to help! `curl` should also work as long as you are following redirects, since GitHub themselves stores release binaries in a S3 bucket:

[code]

[2019-03-08 10:11] MatteoJoliveau opened #102 "Add the ability to create roles and client-roles"
Hi, thank you for this provider!
We have a realm installation that features quite a lot of different roles and client-roles, and we would love to be able to create them through Terraform.

Is this new resource something you were considering adding?

[2019-03-08 15:10] mrparkers commented on #102
Hi @MatteoJoliveau, thanks for the issue!

Roles are not a feature that I personally use, but I would be happy to add support for it when I have some free time.  Right now, my priority is to get more familiar with identity providers so I can leave a proper review for #92.  After that, I can take a look at adding support for roles.

Alternatively, I'd also be willing to merge a PR for it if that is

[2019-03-08 16:56] MatteoJoliveau commented on #102
I'm not really that skilled in Go but I can take a shot at it. I'll see what I can put together in the next days.

[2019-03-08 17:15] mrparkers commented on #102
Sounds great!  Feel free to ask any questions you may have in this issue.

[2019-03-28 21:18] mrparkers commented on #102
Hey @MatteoJoliveau, have you started working on this?  I have a use case for this feature now so I would be willing to implement this resource if you weren't in the middle of working on it yourself.

[2019-04-01 09:14] MatteoJoliveau commented on #102
Hello @mrparkers! It was offloaded to a colleague which is more skilled in Go than me, but he doesn't know pretty much anything about Keycloak. I don't think he's gone very far with it ATM, so if you can start to work on it yourself it would be pretty awesome. We can provide some contributions later if you want to assign us some related tasks.

[2019-04-01 15:12] MatteoJoliveau commented on #102
Update: seems like my colleague has a first draft ready with get/update/delete implemented. I'll see if I can get the repo

[2019-04-01 20:58] mrparkers commented on #102
Sounds good.  I'm not in any rush for this, I just wanted to make sure nobody was working on it before I started to.  I can wait for a PR :smile:

If your colleague wants to open a WIP PR with what they have so far, I can answer questions or offer advice.

Thanks!

[2019-04-01 21:08] MatteoJoliveau commented on #102
Sure! We uploaded his work to a public repo, we'll open the WIP PR tomorrow

[2019-05-08 13:14] cthiebault opened #108 "Support hardcoded-ldap-group-mapper LDAP Mapper"
This would grant a specified Keycloak group to each Keycloak user linked with LDAP.
See [documentation](https://www.keycloak.org/docs/latest/server_admin/index.html#_ldap_mappers)

It could look like this:
[code]

[2019-05-08 13:17] cthiebault opened #109 "Support hardcoded-ldap-role-mapper LDAP Mapper"
This would grant a specified Keycloak role to each Keycloak user linked with LDAP.
See [documentation](https://www.keycloak.org/docs/latest/server_admin/index.html#_ldap_mappers)

It could look like this:
[code]

[2019-05-08 14:45] cthiebault opened #110 "Support Service Account Roles for OIDC clients"
In order to configure the roles available to the service account retrieved on behalf of this client...
See [documentation](https://www.keycloak.org/docs/latest/server_admin/index.html#_service_accounts).

`service_accounts_enabled` has to be enabled:
[code]

[2019-05-09 14:06] mrparkers opened #111 "support multiple keycloak versions + acceptance tests"
#106 upgrades the provider to support Keycloak 6.0.1.  While I don't believe the provider itself needs to be changed to support each version of Keycloak, it would be nice for the acceptance tests to test against all supported versions to give confidence to the users who are not ready to upgrade yet.

[2019-05-14 14:09] mrparkers opened #112 "missing docs for resources / data sources"
This is a reminder for me to add missing docs for the following resources and data sources:

resources:

- keycloak_openid_client_authorization_resource
- keycloak_openid_client_authorization_scope
- keycloak_openid_client_authorization_permission
- keycloak_openid_client_service_account_role
- keycloak_oidc_identity_provider
- keycloak_user_template_importer_identity_provider_mapper
- keycloak_at

[2019-06-03 09:43] BernhardBerbuir opened #115 "Update go module terraform from terraform v0.12.0-rc1 to terraform v0.12.0"
Currently the realease candidate (rc1) of the module terraform is referenced at `go.mod`
=> upgrade to release version

[2019-06-03 11:46] BernhardBerbuir opened #117 "clients: support configuring of Scope"
Currently the scope of a client (__ATTENTION:__ do not do not confuse with _Client Scopes_ / _Scope Mapping_) can not beconfigured. The default configuration uses `Full Scope Allowed=TRUE`. I want to be able to set this to `Full Scope Allowed=FALSE`.

The REST API requires to update the client with a [clientrepresentation](https://www.keycloak.org/docs-api/6.0/rest-api/index.html#_clientrepresenta

[2019-06-04 13:48] mrparkers commented on #117
Closed via #118

[2019-06-04 13:48] #117 closed

[2019-06-14 07:48] xiaoyang-connyun commented on #102
Any updates here? Really looking forward to this feature.

[2019-06-14 13:33] dhardiker commented on #102
We use Terraform to provision AWS account, automatically adding a SAML provider into the account, which maps up to a SAML Client in a Keycloak Realm. We then have to manually add a computed role to that client, and then assign that client role to a Keycloak group. This sounds like this feature request would cover our use case.

I don't have any Go experience and limited C++, but we can try to cont

[2019-06-14 13:48] mrparkers commented on #102
@xiaoyang-connyun @dhardiker thanks for your interest in this feature request.  I've held off on taking this on since it appeared that there was some desire to submit a PR for this.

I'll give @MatteoJoliveau a few days to chime in on the status of this, and if I don't hear anything, I'll take some time to implement this (since this is a feature I could use myself as well).

[2019-06-14 19:23] #115 closed

[2019-06-17 07:39] BernhardBerbuir opened #125 "data source for realm keys"
Provide a data source for retrieving keys of a realm.
The REAST API of Keycloak provides a `GET` method for [realm keys](https://www.keycloak.org/docs-api/6.0/rest-api/index.html#_key_resource)
Filtering by algorithm and other attributes would be useful.

[2019-06-18 14:17] Floby opened #127 "Plugin doesn't work inside official terraform image (alpine)"
When trying to run terraform with the keycloak-provider configured inside a docker container, the executable cannot be run.

It appears the released binary of the keycloak-provider is links to the glibc. However, the official terraform image is based on Alpine Linux and therefore uses musclibc.

We made it work that way with previous releases so I'm confident it's only a matter of rebuilding the l

[2019-06-18 14:38] MatteoJoliveau commented on #102
Hello everyone, sorry for the delay. I got assigned another project and forgot to follow up on this.
I just checked my colleague's work and it seems it implemented support for realm roles, but it's missing tests, and client_roles are not yet implemented.

I'm very sorry to have held this issue back, we clearly had some communication issues internally. If anyone wants to pick up from there, our rep

[2019-06-18 15:14] tomrutsaert commented on #52
fields from the screenshot (smtp server settings) were merged into master
Internationalization fields can be found in https://github.com/mrparkers/terraform-provider-keycloak/pull/124
and I am working and security defenses fields.

slowly we are getting all the fields

[2019-06-18 15:16] tomrutsaert commented on #15
This is something on my todo list, I should be tackling this in the coming weeks

[2019-06-18 16:03] Floby commented on #127
I installed `libc6-compat` as a workaround for the moment.

[2019-06-19 13:37] mrparkers commented on #15
I actually started this on the `authentication-flows` branch.

Unfortunately, I wasn't able to come up with a good way to manage nested flows and executions, which is a use case I have for this particular feature.  Keycloak allows you to create top-level flows and subflows, and you can technically have an infinite number of subflows.  I couldn't figure out a way to elegantly do this within the pro

[2019-06-19 13:43] mrparkers commented on #127
The 0.12 SDK was included with release 1.8.0 so it's possible that this is the reason.

I can add an extra release binary with CGO disabled which should work for alpine.  Could you test this by building with the environment variable `CGO_ENABLED=0`?

[2019-06-19 13:45] mrparkers commented on #125
This is a good idea!  I'll add this to my personal backlog unless someone else is willing to take this on.

[2019-06-19 13:47] mrparkers commented on #102
No problem at all @MatteoJoliveau, I just didn't want to work on it if you were still in the middle of implementing it.

I can take over this feature request unless either @xiaoyang-connyun or @dhardiker are interested in picking it up.  Just let me know!

[2019-06-19 13:50] mrparkers commented on #125
Oops, I didn't realize you already opened #126 :smile:

[2019-06-19 15:24] xiaoyang-connyun commented on #102
First of all, thanks @mrparkers , @MatteoJoliveau and your colleague for your contributions so far.
Unfortunately, I have literally zero experience in Go, although I have heard that it is a pretty appealing language. So, please go ahead, and I would be happy if you could add me as a reviewer, so I could have some feelings about it.

[2019-06-20 13:35] mrparkers commented on #102
Sure thing.  Would you mind giving me an idea of what you think the HCL for this resource might look like?

[2019-06-20 13:36] #127 closed

[2019-06-20 17:47] BernhardBerbuir commented on #125
No Feature Request without Pull Request :smile:

[2019-06-25 11:58] xiaoyang-connyun commented on #102
Could I do it after July 1st? I am not available these days until July 1st.
The only thing come to my mind is how to model the user-role relation and the group-role relation, as a separate resource or a block.

[2019-07-09 07:19] xiaoyang-connyun commented on #102
@mrparkers

So, I come up with the proposal as follows.

[code]

[code]

I think they are the minimum for me. I personally do not assign roles to the user directly, and rarely use composite roles.

Do you have any feedbacks?

[2019-07-09 07:22] MatteoJoliveau commented on #102
I like it, it's basically what we envisioned at the beginning.

I agree directly assigning roles to users is not a very good practice and can be implemented laters, while composite roles are very very useful when organizing lots of small, granular roles.

[2019-07-09 11:40] tomrutsaert opened #133 "Support custom user federation with extra config parameters."
We have a custom user federation SPI that connects to our legacy my_users postgresql database.
In our Custom SPI we have some extra config parameters: jdbc_url, user, ...

We were hoping that we could pass along these extra config parameters through the keycloak_custom_user_federation terraform config.
But it seems that the "keycloak_custom_user_federation" only knows the fields that were defined

[2019-07-09 11:54] tomrutsaert commented on #133
I have the same question for a custom identity provider with extra config.

[2019-07-09 13:46] mrparkers commented on #133
I'm in favor of an attribute like `config` or `extra_config` that can just be a map to send arbitrary values to the Keycloak API for this.

I don't think the first solution you suggested (having these attributes at the top level) is possible.

For what it's worth, the custom user federation SPI implementation we use just uses environment variables for configuration which works well enough for us -

[2019-07-09 18:11] xiaoyang-connyun commented on #102
Yes, you are right in terms of composite roles. I rarely use it only because my application does not have that many complex role relations.

[2019-07-11 12:39] tomrutsaert commented on #133
I have created https://github.com/mrparkers/terraform-provider-keycloak/pull/134

[2019-07-11 12:39] #133 closed

[2019-07-11 13:29] tomrutsaert commented on #15
I would need this functionality as well. We have a lot of custom authenticators with config and thus also custom flows and executions.
How do you see the way forward?
Could we work with an in-between solution?
How production ready are the changes in your authentication-flows branch?
How can I help?

[2019-07-17 08:29] tomrutsaert opened #135 "Custom Identity Provider with extra custom config"
We have a custom oidc identity provider with custom config.
I would like to add this extra config to this terraform keycloak provider.
I do not how to go forward with this.

Do I change the IdentityProvider implementation to change IdentityProviderConfig struct to be just a map[string]interface{}  where i do a mapping per field so that the have the correct json key?
for example:

[code]

Or do I c

[2019-07-17 09:27] tomrutsaert commented on #135
The solution might be in writing a custom Marshal and Unmarshal method, where additional config will go in an extra_config field

[code]

something like this

[2019-07-17 12:53] mrparkers commented on #135
I like the idea of the `extra_config` field, although I don't actually use identity providers in Keycloak so I am not sure how valuable my opinion is.

@AndrewChubatiuk implemented most (if not all) of this, so I'd defer to his opinion or anyone else who actually uses this.  Any thoughts here?

[2019-07-18 08:31] AndrewChubatiuk commented on #135
I like idea of having one `keycloak_identity_provider` resource for all types of providers with validation schemas for `config` attribute map for all identity provider types besides `custom`. And in this case `IdentityProviderConfig` struct can be replaced with `map[string]interface`

[2019-07-23 12:19] tomrutsaert commented on #15
@mrparkers, FYI: I will be working on this issue

[2019-07-24 12:36] tomrutsaert commented on #15
The more I look at this, the more I think there should be a separation between topLevelFlows, subFlows and executions.
All 3 behave different in Create/Update/Read/Import and Delete.

[2019-07-24 13:48] mrparkers commented on #15
Thanks @tomrutsaert, I'm glad you have the time to take a look at this.

My branch, as you have probably noticed already, is not quite production ready yet, although the foundation for what you need should be mostly there.

The part I really struggled with was understanding how we can represent subflows in HCL and relate them to the top level flows, or other subflows that are a parent to them.  Th

[2019-08-05 03:44] nagytech commented on #110
Service accounts are just normal accounts with the naming convention `service-account-${keycloak_openid_client.my_client.client_id}`.  Is it worth creating a new resource just for that, or is it simpler just to rely on the existing keycloak_user resource?

[2019-08-05 03:46] nagytech opened #141 "Support for identity providers"
It would be good to provide a resource for managing Identity Providers.

https://www.keycloak.org/docs-api/5.0/rest-api/index.html#_identity_providers_resource

[2019-08-05 13:50] mrparkers commented on #141
So this is awkward - but this provider does actually support identity providers:

- oidc: https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/resource_keycloak_oidc_identity_provider.go
- saml: https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/resource_keycloak_saml_identity_provider.go

The awkward part is that the PRs that were merged to add

[2019-08-05 17:13] nagytech commented on #141
Cool thanks.  If I get some time I might try and help out.

[2019-08-07 23:37] wwjn commented on #141
I've found an issue with the import of an oidc provider.

[code]

Seems like the `alias` field given by the second part of the resource id isn't added to the `alias` field on import.

https://github.com/mrparkers/terraform-provider-keycloak/blob/e899c32196531e77d5361475030aaf6187192926/provider/generic_keycloak_identity_provider.go#L148

[2019-08-08 16:16] camelpunch commented on #102
There is a strong chance that [Boclips](https://github.com/boclips), the company I'm working for will need this functionality. We're likely to be able to contribute this code, or continue something that has been started. Is it in progress anywhere right now, or is the mikamai fork the latest and greatest?

I'm likely to be the main contributor, and have some prior commercial experience with Go. Wo

[2019-08-13 19:47] mrparkers commented on #102
@xiaoyang-connyun apologies for the late reply, I think your HCL looks good.  I'll base my implementation off of that unless I run into any issues.

@camelpunch thanks for your interest in contributing! I actually have a need for this resource very soon, so I'm going to pick this up within the next couple of days.

[2019-08-19 22:50] #141 closed

[2019-08-29 21:48] fharding1 opened #144 "Add support for default groups"
AFAICT, there is no way to specify default groups at the moment. This would be fairly easy to implement, since it's a really basic resource. The relevant endpoints are:

    GET /{realm}/default-groups (returns a list of all default groups)
    PUT /{realm}/default-groups/{groupId} (add a group to the list of default groups)
    DELETE /{realm}/default-groups/{groupId} (delete a group from the lis

[2019-08-30 04:09] mrparkers commented on #144
Hi @fharding1, thanks for the issue!  You're right that the provider does not currently support this, I'd be happy to accept a PR that adds this functionality.

I think the HCL you posted makes sense and is the best approach.  I agree that adding default groups on the `keycloak_realm` resource does not make sense, mostly because there would be no way to apply your entire configuration with a singl

[2019-08-30 15:00] mrparkers commented on #144
Something else I just thought of - it may be a good idea to do some extra validation against using the `keycloak_group_memberships` resource on a default group, or at least document the pitfalls of using both of these resources on the same group.

[2019-08-30 15:52] fharding1 commented on #144
Because of:

`Note that this resource attempts to be an authoritative source over group members.`

Do you think it makes sense to just not allow a default group to be used alongside `keycloak_group_memberships`?

[2019-08-30 16:17] fharding1 commented on #144
So I'm actually thinking it might make sense to have one `keycloak_default_groups` resource per realm which looks like this:

[code]

This would be similar to how the `keycloak_group_memberships` resource works. It makes PUT/DELETE a bit weirder, but the GET endpoint makes a lot more sense.

[2019-08-30 16:57] fharding1 opened #145 "Errors aren't checked properly when removing a group membership user from a group"
https://github.com/mrparkers/terraform-provider-keycloak/blob/0f1fe1bad1e107f0199bb93466b18003450e7a79/provider/resource_keycloak_group_memberships.go#L106

I think this code should be returning `err` rather than `nil`. As-is, if there's an error removing a user from a group nothing will happen.

[2019-08-31 17:21] mrparkers commented on #145
Good catch, I agree.  You can make this change in the PR you have open if you'd like.

Technically, the idiomatic way to handle this in Terraform is by using [partial state](https://www.terraform.io/docs/extend/writing-custom-providers.html#error-handling-amp-partial-state). In this example, if the provider was able to remove three out of four group members, it shouldn't completely blow up, but ra

[2019-09-01 17:07] #144 closed

[2019-09-01 17:07] #145 closed

[2019-09-01 18:27] phillipj commented on #87
Just wanted to close this properly instead of leaving it here without no visible progress or us contributing to the project.

After a long process internally at work, we've decided to transition from using a self-hosted Keycloak solution to a managed alternative.

Long story short, we've have a handful of challenges scaling Keycloak properly and generally running it as a cluster inside Kubernetes.

[2019-09-01 20:39] fharding1 opened #148 "Refactor KeycloakClient to use oauth2 and clientcredentials libraries"
Much of the functionality in `KeycloakClient` for logging in and refreshing the access token seems to re-implement behavior already implemented in [golang.org/x/oauth2](https://godoc.org/golang.org/x/oauth2) and [golang.org/x/oauth2/clientcredentials](https://godoc.org/golang.org/x/oauth2/clientcredentials). This issue includes research into whether those libraries would be sufficient, and refacto

[2019-09-01 21:23] mrparkers commented on #148
I agree, it would probably be better to use an official OAuth2 implementation rather than one implemented in this project.

Feel free to look into this and submit a PR if this is something you're interested in 😄

Thanks for the issue!

[2019-09-01 23:27] fharding1 commented on #148
Of course, happy to help out! I actually just submitted a PR to golang/oauth2 that should help out with this (it's still possible to use golang/oauth2 without it but it's a bit more annoying), so I'll see where that goes...

https://github.com/golang/oauth2/pull/396

[2019-09-02 00:53] mrparkers commented on #148
Nice, I like the initiative!  I think the PR you submitted has valid use cases even without this provider in mind.

[2019-09-02 08:54] AllaeddineEL opened #149 "support SAML Group list Mapper"
in order to map user's group list in a SAML client, a new saml group membership similar to the oidc one is needed
![image](https://user-images.githubusercontent.com/17249893/64102307-f8c16a80-cd6f-11e9-93f5-03ad7f737c98.png)

[2019-09-04 18:03] fharding1 opened #151 "Realm creation implies creation of clients and roles, results in conflict"
For example, if you try to create a new realm at the same time as creating the `account` client and the `account` roles because you need to reference them when you create groups, you'll get a 409 conflict. I don't know a whole bunch about terraform, so this might just be something we have to deal with. Is there a way around this? Like where when a realm is created if clients/roles exist that were

[2019-09-05 21:41] mrparkers opened #152 "allow for mapping roles to users and service accounts"
Discussion started in #143.

For mapping roles to a service account, it makes sense to make to have a data source to get the ID of that service account, and use a resource like `keycloak_user_roles` to map roles to it.  It might look something like this:

[code]

thoughts?  cc @rlewan @camelpunch

[2019-09-05 21:59] mrparkers commented on #151
So this is a pretty common problem for Terraform providers that wrap APIs that have side effects.  Pretty much every Terraform provider I've worked with, official or otherwise, has had to deal with this.

Creating a realm within Keycloak creates a ton of other resources as a side effect (clients, client scopes, roles, flows and executions, etc).  Most of these resources don't really need to be mod

[2019-09-05 22:26] fharding1 commented on #151
That's immensely helpful—I honestly didn't know you could use data sources like that. And it totally makes sense that it's hard to manage side effects like this, I just wasn't sure whether that was the case. I'll probably look into this if I find myself needing to make changes to resources that already exist from creating another resource: https://github.com/jmcgill/formation

Thank you, closing a

[2019-09-05 22:26] #151 closed

[2019-09-05 22:33] rlewan commented on #152
Totally makes sense, I like the simplicity 👍

[2019-09-06 16:53] #56 closed

[2019-09-06 16:54] #125 closed

[2019-09-06 16:58] #102 closed

[2019-09-09 10:17] Trois-Six opened #154 "set a client role without "Composite Roles""
Hi,

I am using this version :

[code]
When I try to set an openid connect client role without any composite role (an empty list), I have got an error:
[code]
Plan:
[code]
I would like to be able to set an empty list to be sure of the conformity of my role.

Thank you,

Pierre

[2019-09-09 14:08] mrparkers commented on #154
Hi @Trois-Six, the role will not have any composite roles if you omit the `composite_roles` attribute completely.  Let me know if that works for you.

[2019-09-09 14:35] Trois-Six commented on #154
Yes that works, but if I have a role that have composite roles and I want to remove the composite roles, I can't.

[2019-09-09 15:04] mrparkers commented on #154
Omitting the attribute _should_ remove all of that role's composites, can you give me the HCL you're using and explain the behavior you're getting verses the behavior you're expecting?

[2019-09-09 15:14] mrparkers commented on #154
Also, my [acceptance tests explicitly cover this scenario](https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/resource_keycloak_role_test.go#L236-L240) (adding composite roles and removing them all) so if you're noticing some strange behavior, it's probably a bug that I'd like to get fixed.

[2019-09-10 08:55] Trois-Six commented on #154
OK I confirm that omitting the attribute remove all the role's composites. That's not usual for a Terraform resource but it works. Thank you !

[2019-09-10 14:15] mrparkers commented on #154
I'm open to allowing users to specify an empty list of `composite_roles` if that would make you feel better.  I would also like to keep the behavior of removing composite roles if the attribute is not specified.

If this is something you want, you can re-open this issue and I'll work on it when I get a chance.

[2019-09-11 07:22] Trois-Six commented on #154
The way it is done, I can't use this resource inside a module with a default value, but I can workaround it for the moment.

[2019-09-11 08:42] camelpunch commented on #152
LGTM!

[2019-09-11 12:59] mrparkers commented on #154
That's a fair use case, I did not think about that.

I think with HCL2 you could do something like this:

[code]

I think with HCL1 (which is what I'm still using) you'd have to do something even worse due to the lack of the `null` type:

[code]

In either case, I agree that it is silly to have to add logic to your HCL because the provider won't allow you to specify an empty list for this attribut

[2019-09-23 20:29] mrparkers opened #156 "keycloak_realm: incorrect default for reset_credentials_flow attribute"
https://github.com/mrparkers/terraform-provider-keycloak/blob/65824554c7d0838b0755f1437c0f379cebb6b276/provider/resource_keycloak_realm.go#L342

should be `"reset credentials"`

[2019-09-24 15:22] dimsedane commented on #152
I am looking into this a little as my first try with go and Terraform development since we need it for at project.

While my need is also for a service account, would it be better for the datasource to be for a generic keycloak user, not just a service account? You could still get the service account user from the naming convention, but it would be possible to apply it broader.

[2019-09-26 04:51] KadenLNelson opened #157 "Add .travis.yml"
It would be cool to have a travis pipeline for this project.

[2019-09-26 07:25] fharding1 commented on #157
CircleCI is already setup and seems to work well.

[2019-09-26 13:26] mrparkers commented on #152
Hi @dimsedane, thanks for wanting to contribute!  Feel free to post any questions you may have here along the way, I'll be happy to help.

I had initially considered a more generic `keycloak_user` data source as well, but my concern with using that for service accounts is that we would be relying on that naming convention which isn't guaranteed to remain consistent.  I think ultimately there will

[2019-09-27 03:25] KadenLNelson commented on #157
I'm sorry, I didn't see it. Thanks for replying.

[2019-09-27 03:25] #157 closed

[2019-10-01 18:35] drcrees commented on #156
@mrparkers https://github.com/mrparkers/terraform-provider-keycloak/pull/158

[2019-10-03 14:11] #156 closed

[2019-10-07 20:12] jleclanche opened #161 "Certificate / Fingerprint outputs"
In the documentation, I can't find any exposed properties for a saml client's certificate, xml cert file, or cert fingerprint. Are those currently unimplemented/undocumented or am I blind? It would be great to have them.

[2019-10-07 21:12] mrparkers commented on #161
I don't believe those are implemented.  For the most part, the SAML support for this provider is limited to what I needed at my previous employer and nothing else.

I can get to this in my free time, or you can contribute these features if you'd like.  I think most of these would be computed attributes on the `keycloak_realm` resource.

[2019-10-07 21:30] jleclanche commented on #161
Gotcha. We're currently working on setting up keycloak for the [archlinux.org](https://archlinux.org) SSO, and we're using this module to terraform it.

I can try to work on a patch but both golang and terraform plugin development is well outside my comfort zone, it'll take me a while. If you can point me in the right direction it'll help.

[2019-10-07 23:38] mrparkers commented on #161
Ah, that's cool.  I hope it works well for you.

If you don't feel comfortable contributing a fix, I can get to it some time this week for you.

If you do want to contribute, I'd start by running Keycloak locally and poking around in the GUI, while using the network tab of your browser to see what API calls are being made.

From there, we'd just need to add those properties to the [`keycloak_realm

[2019-10-10 14:51] LoicAG opened #164 "Next release?"
Hi there,

First of all thanks for this great provider, it has greatly simplified our management of Keycloak: we used to have a mixture of home-made scripts, manual management, and semi-automated exports/imports, which basically never worked well. Now everything is cleanly organized in terraform modules, making life much easier for my developer colleagues and myself (DevOps).

And now that our Key

[2019-10-14 07:36] Pinguwien commented on #15
Hey :) Is there any progress on adding flows? Would be a great feature!

[2019-10-14 22:54] mrparkers commented on #164
Hi, sorry for the delay! I just published 1.11.0 today 🚀

[2019-10-14 22:54] #164 closed

[2019-10-15 09:07] camelpunch opened #165 "Change of realm attribute shows big diff for groups with roles and composite roles"
We recently changed our `registration_allowed` attribute in a realm from `true` to `false`, and saw that many `keycloak_group_roles` and `keycloak_role`s with `composite_roles` had diffs.

When applying, this sort of change seems to do the right thing - it just changes the attribute on the realm. The diff, however, is confusing and shows e.g.

[code]

Is this perhaps related to the unfinished work

[2019-10-16 17:48] mrparkers commented on #165
Hmm, I'm not sure I can comment on the actual plan itself and why some of the assigned roles might be changing.  However, I will say that yes, it's difficult to understand what is actually happening here due to the usage of Keycloak's GUIDs as IDs for this provider.  At some point in the future, I plan on releasing a 2.0 version that completely reworks how the provider tracks IDs, so a role ID mig

[2019-10-17 10:54] LoicAG commented on #164
Awesome, thanks!

[2019-10-21 10:48] Pinguwien opened #169 "Support PKCE switch in Advanced Settings of openID Client"
Hi there,

perhaps I haven't found it yet, but I am missing the PKCE switch in the "Advanced Settings" - Tab of an openid client in keycloak (using v7).
<img width="951" alt="Bildschirmfoto 2019-10-21 um 11 35 20" src="https://user-images.githubusercontent.com/3540413/67199132-c1cb1500-f400-11e9-9e81-fe7bc70b78e4.png">

As it is state of the art now also for SPAs to use authorization grant with PK

[2019-10-22 15:19] mrparkers commented on #169
Hi @Pinguwien, thanks for the issue!

You aren't missing anything, this looks like a new configuration option that didn't exist in the version of Keycloak that I'm most familiar with (4.8.3.Final).  [While that version did support PKCE](https://github.com/alexashley/keycloak-pkce), there was no configuration for it nor was it mentioned in the docs.

I'd happily accept a PR to add this functionalit

[2019-10-22 16:27] Pinguwien commented on #169
so, I am staying at the hotel tomorrow and will have a look (and my ... almost first sight) at go and the implementation. Don't know if it works out, but will give it a try. Any hints on how to rapidly get a local dev env working would be great.

[2019-10-22 16:42] mrparkers commented on #169
If you have the following installed:

- docker
- [jq](https://stedolan.github.io/jq/)
- make

You can run `make local` from the root directory of this project.  Once that's done, your local Keycloak instance will be available at http://localhost:8080.  The default creds are keycloak/password.

I should really write some developer docs to help explain this.

[2019-10-23 09:24] Pinguwien commented on #169
My colleague @psanetra and me are working on this right now and will create a pr later on. In testing right now, with keycloak 6.0.1 from your image it worked. We had to add the whole "attributes" map from the keycloak rest api, and checked if other values would be overridden when you just set the pkce key/value. Good news: they don't. So the PR will only contain the PKCE switch for now. I think p

[2019-10-23 14:04] mrparkers commented on #169
Perfect, nice work!

If you could also add this new attribute to one of the [existing test cases](https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/resource_keycloak_openid_client_test.go), that would be much appreciated!

[2019-10-30 19:30] #169 closed

[2019-11-06 16:45] 0b11stan opened #172 "Plan show changes when no one is needed"
Hi, first, let me thank you for the great work on this provider.
I'm having trouble with the `service_account_role` resource creation.

## Init

Here is a resource for a service account role in my tf file.
[code]

I have nothing for this resource in my tfstate.
[code]

When I run `terraform plan`, i can see that my resource will be created:
[code]

Then, I run `terraform apply`, the resource is cr

[2019-11-06 21:13] AndrewChubatiuk commented on #172
@0b11stan Do you use version 1.12.0?

[2019-11-07 09:15] 0b11stan commented on #172
Oh no, I am using 1.11.0, is it fixed in 1.12.0.

[2019-11-07 09:30] 0b11stan commented on #172
Thank you

[2019-11-08 15:36] camelpunch commented on #165
Kinda. In this situation we knew that the role IDs weren't changing, but the diff was shown anyway, purely because we changed an attribute on the realm.

We can figure out that this has happened by stashing our changes in git and ensuring we have no diff before we change the realm attribute, but this is a workaround that needs teaching to each developer.

[2019-11-09 15:55] #172 closed

[2019-11-09 15:56] 0b11stan commented on #172
The fix works like a charm.

[2019-11-13 13:55] tomrutsaert opened #174 "A user should be able to set RefreshTokenMaxReuse to 0 to enable RevokeRefreshToken"
A user should be able to set RefreshTokenMaxReuse to 0 to enable RevokeRefreshToken
This value is about the amount of times a refresh can be reused, in which 0 is most often chosen value.
But in the code (see below) disables RevokeRefreshToken when you set RefreshTokenMaxReuse to 0.

[code]

[2019-11-18 10:15] Shubhammathur22 opened #176 "404 Error while fetching Client Roles with forward slash(/) in its name"
Issue: Terraform giving 404 error while fetching client roles having forward slash(/) in its name.
Resolution: Added Replace string where ever required
Sample Role Name: Test/123

[](https://github.com/mrparkers/terraform-provider-keycloak/pull/175)

[2019-11-18 10:21] Shubhammathur22 commented on #176
Reference PR for correction - https://github.com/mrparkers/terraform-provider-keycloak/pull/175

[2019-11-19 06:37] Shubhammathur22 commented on #176
Corrected in Version - https://github.com/mrparkers/terraform-provider-keycloak/releases/tag/1.13.1

[2019-11-19 06:37] #176 closed

[2019-11-22 06:52] Shubhammathur22 opened #178 "Terraform unable to fetch more than 100 members in a group"
Issue: Keycloak's  ** GET /{realm}/groups/{id}/members** API by default returns maximum 100 members for any group.

Resolution: max parameter could be passed with the API call.

[2019-11-22 13:07] mmaldonado-wtsh commented on #32
It can also be avoided by using Terraform option `-parallelism=1`.

[2019-11-28 04:38] Shubhammathur22 commented on #178
Fixed in version 1.13.2

[2019-11-28 04:38] #178 closed

[2019-12-02 15:56] Trois-Six opened #182 "Terraformer / ProtocolMappers"
Hi,

I am working on a side project to this project: adding terraformer support for your provider. To do this, I decided to use your "sdk - keycloak go client" inside the code of your provider.

That said, I need new functions to retrieve slices of objects to import resources in terraformer. You can view the work I have done so far here: https://github.com/Trois-Six/terraform-provider-keycloak/tre

[2019-12-16 09:26] LoicAG opened #186 "keycloak_group_memberships with empty members"
Hi there,

We're running into an issue with the resource `keycloak_group_memberships`: when the members list computes to an empty set, `terraform plan` wants to create the resource, but `terraform apply` doesn't, resulting in the following error message :

[code]

This is the (redacted) relevant code :

[code]

The problem arises when both local.create_test_user` and `local.create_test_perf_users`

[2019-12-16 10:54] mmaldonado-wtsh opened #187 "Implement realm events configuration"
Hi,

First of all, thank you for this great work!

Would it be possible to implement events configuration in the provider?

Keycloak API documentation is available here:
- https://www.keycloak.org/docs-api/8.0/rest-api/index.html#_realmeventsconfigrepresentation
- https://www.keycloak.org/docs-api/8.0/rest-api/index.html#_realms_admin_resource

It might require the following methods:
- GET /{realm

[2019-12-16 15:48] mrparkers commented on #182
Hi @Trois-Six.

I have no problem at all with you adding extra functionality to the `keycloak` package to help support this.  I've actually been thinking that it may be appropriate to eventually pull the `keycloak` package out into its own GitHub repository so it can live independently of the provider, but I we can hold off on that for now.

[2019-12-16 16:11] mrparkers commented on #186
Hi @LoicAG,

I wasn't able to reproduce the problem using the configuration you provided.  When I tried this locally, I got the results that I would have expected, which is an empty plan and a no-op apply if the local values `create_test_user` and `create_perf_test_users` are both set to `false`.

What version of Terraform are you running?  Could you give this another try with `v0.12.17` or higher

[2019-12-16 17:23] Trois-Six commented on #182
FYI, https://github.com/GoogleCloudPlatform/terraformer/pull/325.

[2019-12-16 17:52] LoicAG commented on #186
Thanks for the quick response! We're also using terraform `v0.12.17`, but with an older version of the provider, I'll update it, try again and post my findings.

[2019-12-18 09:25] Pinguwien opened #188 "Add defaultScopes to identity provider config"
Hi :) me again.

After using PKCE now and it works perfectly fine, I have another question. I am integrating a brokering scenario with AzureAD as an identity provider. thus, I need to set the default scopes to openid profile email.

I've seen in https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/resource_keycloak_oidc_identity_provider.go that there's an extra_config fla

[2019-12-18 11:51] tomrutsaert commented on #188
Yes

[code]

will do the trick

[2019-12-18 15:47] #174 closed

[2019-12-19 05:47] Trois-Six commented on #182
Merged in terraformer. Please test it and give me any feedbacks.

[2019-12-19 05:47] #182 closed

[2019-12-24 14:44] LoicAG commented on #186
Hey again, I figured out how to reproduce the issue, by defing the memberships as follows

[code]

This differs from the previous code by removing the conditional `count` (which I added afterwards in my development process).

With the `count` in place, as per my original post, everything works fine.

@mrparkers my problem is fixed; do you tolerate that a `keycloak_group_memberships` with an empty

[2019-12-27 15:13] dizonn opened #190 "Wrong realm validation for RegistrationAllowed and RegistrationEmailAsUsername params"
Found that keycloak can set RegistrationEmailAsUsername without setting RegistrationAllowed (checked on 5.0.0 and 8.0.1 versions) and because of this [validation ](https://github.com/mrparkers/terraform-provider-keycloak/blob/a467c7185cbcc9d6e0123f0208bf972b5ba14ec7/keycloak/realm.go#L172) our deployment fails with

To reproduce this issue you can enable "User registration" and "Email as username"

[2020-01-07 12:39] AdrienFromToulouse opened #194 "[Groups] - Add attributes"
Hello @mrparkers ,

Thanks for maintaining this awesome project!

I would like to contribute to it but before making any PR I wanted to get your feedback.
It seems not possible at the moment to add attributes:
https://github.com/mrparkers/terraform-provider-keycloak/blob/master/keycloak/group.go#L8-L17

Is there any particular complexity to be expected for not being implemented yet?

If not I woul

[2020-01-08 15:33] #109 closed

[2020-01-08 15:37] mrparkers commented on #194
Hi @AdrienFromToulouse, thanks for opening an issue.

I don't think adding support for group attributes would be particularly complex.  When I implemented the `keycloak_group` resource, I didn't have a need for attributes, so I left them out.

Feel free to work on this and ask questions here or in the PR you open, I'll be happy to help.

Thanks!

[2020-01-08 15:39] mrparkers commented on #188
Closing this since it seems the original question has been answered, thanks @tomrutsaert!

[2020-01-08 15:39] #188 closed

[2020-01-08 15:41] mrparkers commented on #187
Yes, this should definitely be possible.  Unfortunately, I don't have the time to add new features at the moment, so someone else may have to pick this up.

If you're willing to submit a PR to add this feature, I'll be happy to help answer questions or point you in the right places.  Just let me know!

[2020-01-08 15:48] mrparkers commented on #186
Hmm, this is a bit strange since the `keycloak_group_memberships` resource _does_ support using an empty set for the `members` attribute.

I think there might be some issues with Terraform not knowing that it is empty until the apply happens, although I don't really have any ideas as to why this might be happening.

I'll leave this open until I have time to take another look.  Thanks for investiga

[2020-01-08 15:51] mrparkers commented on #165
Just now getting back to this, sorry.  I'm still puzzled on why changing a realm attribute would cause this resource to show changes.  If this is still a problem for you, would you mind providing me some sample HCL to reproduce this?

[2020-01-08 15:55] LoicAG commented on #186
With pleasure, let me know if I can be helpful in any way!

[2020-01-08 15:58] mrparkers commented on #69
The two data sources originally requested have since been implemented, so I think this issue can be closed.

[2020-01-08 15:58] #69 closed

[2020-01-08 15:58] mrparkers commented on #52
Looks like this is implemented now

[2020-01-08 15:58] #52 closed

[2020-01-08 15:59] #14 closed

[2020-01-15 09:41] dlechevalier opened #197 "PKCE empty value can not be set to empty"
Hi @mrparkers , thanks for the great job on this provider!

Found an issue with values available for **pkce_code_challenge_method**.
I don't use pkce for confidential clients, only for public ones. So i need to set pkce_code_challenge_method default value to an empty string but i can't :

I can add this empty value to fix the problem and make a PR if you're OK.

[2020-01-15 12:53] dlechevalier commented on #197
I need this fix fast so i did a PR in the morning:
https://github.com/mrparkers/terraform-provider-keycloak/pull/198

[2020-01-15 15:48] mrparkers commented on #197
Hi @dlechevalier, thanks for the issue.

You can omit the `pkce_code_challenge_method` attribute entirely, and it will end up being an empty string on the Keycloak server.  I just tested this on Keycloak 8.0.0 using the latest version of this provider.

Can you give that a shot and see if it works for you?

[2020-01-16 12:42] dlechevalier commented on #197
Hi,
i've tried with keycloak 7.0.

If not specified, pkce_code_challenge_method is set to an empty string and there's no problem.

But if i set pkce_code_challenge_method to S256 using the GUI (some people in my team do it this way) and then update the client with the provider, pkce_code_challenge_method is set back to empty if not defined in the provider config.
I just want to set the default val

[2020-01-16 15:42] mrparkers commented on #197
I think this behavior will remain even if the provider supported an empty string for this field.  Terraform wants to be the authoritative source for configuration, so if you define a `keycloak_openid_client` with a specific configuration, it will try to ensure that this configuration is always up to date, and will undo manual changes made in the GUI in order to achieve this.

If you use HCL2 (Terr

[2020-01-16 17:16] dlechevalier commented on #197
Thanks for your answer. I use terraform 0.11 for now, but thanks for the tip!
My last commit pass the CI successfully, if you agree with my work i let you valid the pull request:
https://github.com/mrparkers/terraform-provider-keycloak/pull/198

[2020-01-21 19:16] #197 closed

[2020-01-21 19:17] #194 closed

[2020-01-22 09:44] dlechevalier commented on #112
Hi, it looks like all the stuff has been done yet. Isn't it?

[2020-01-22 09:59] dlechevalier opened #200 "Add property access_token_lifespan for clients"
The property **access_token_lifespan** can be set for realm and overrided for each oauth2 client.
For now, the provider handles this property for a realm but not for a client.
I can add this feature if you're ok.

[2020-01-27 09:14] cthiebault opened #205 "404 error while fetching client roles with name containing special characters (=;+)"
My role is named `foo=bar;AA;BB/CC+DD`.
I can create it using Terraform but I get following error when assigning this role to group:
`Error: error sending GET request to /auth/admin/realms/myrealm/clients/xxx/roles/foo=bar;AA;BB/CC+DD: 404 Not Found`

It seems related to https://github.com/mrparkers/terraform-provider-keycloak/issues/176 but with more characters than `/`.

[2020-01-27 15:45] mrparkers commented on #112
Hi @dlechevalier, I think the current list in the main post is up to date with what is missing.

[2020-01-31 16:02] jleclanche commented on #161
@mrparkers So I'm looking at this issue again. It appears what I want is defined here:
https://github.com/mrparkers/terraform-provider-keycloak/blob/a11355955b754d173535b51fca324d8ac6f03baa/keycloak/saml_client.go#L15

But… printing it into a string, it looks like it's null, despite it being defined in the UI.

[2020-01-31 16:21] zikphil opened #210 "Client Service Account Roles always detected as new"
Hello,

Here is the code:
[code]

If I run 6 apply, there are always some detected as new although they were all created the first time around.

[code]

[code]

[2020-01-31 16:33] jleclanche commented on #161
I got it to show up in `.signing_certificate` with a weird workaround, specifying my own cert, then removing it, then adding it in `ignore_changes` lifecycle. Now, that doesn't close the bug, BUT:

I need the sha1 fingerprint of this. To do that, I need to base64 decode it. Terraform does have both base64decode() and sha1(), but sha1() can only take utf-8 text, not arbitrary binary data (which thi

[2020-02-03 15:54] mrparkers commented on #187
Closed via #211

[2020-02-03 15:54] #187 closed

[2020-02-04 15:01] Pinguwien opened #212 "Possibility to change internal openid clients"
HI, i tried to disable the realm-internal account-console for a realm created via the tf provider. Now my validation step shows me this:

[code]

the script I use looks like this:

[code]

So now I think a new "account" client would be created instead of the existing one (generated by keycloak) would be updated, not? Do I miss something here to get an update instead of the creation of a new one?

[2020-02-04 16:11] mrparkers commented on #161
Hi @jleclanche.

I ended up fixing the issue with that attribute being set to `null` incorrectly, but that caused other issues that are related to this bug within the version of the Terraform SDK that this provider is using (https://github.com/hashicorp/terraform/pull/21806),

This provider is using the 0.12.1 SDK which is quite old now.  I'm going to spend some time this week trying to update it

[2020-02-04 16:13] mrparkers commented on #200
Hey @dlechevalier, this sounds like a good feature to add.  Feel free to submit a PR for it if you'd like to.

[2020-02-04 16:14] mrparkers commented on #205
Hmm, I presume that the provider will have to URI encode roles before searching for them using the Keycloak API.

[2020-02-04 16:15] #111 closed

[2020-02-10 16:45] mrparkers commented on #161
I bumped the SDK (converted to terraform-plugin-sdk) in #214, so I should be able to make more progress on this now.

[2020-02-11 14:26] Trois-Six opened #216 "Realm id"
Hi,

Let's say that you create a realm with the Keycloak UI, and then you change it's name from the UI. You will have in the API two different values for realm.Id and realm.realm (in my case Foo vs foo).

In provider/resource_keycloak_realm.go you use the realm attribute to populate the Id. I think that it's not good.

[code]

I imported that resource and I am using the resulting variable "keycloa

[2020-02-11 14:29] Trois-Six commented on #216
I know that sometimes in the API we have to use the realm.Id and sometimes the realm.realm, and I am not sure about the impacts of such a change. I have seen that because I am using my keycloak terraformer provider, and the realm.Id didn't match any "real" Realm Id.

[2020-02-11 21:54] adresan opened #218 "Realm import does not include security defenses headers"
During i write documentation for the security defenses headers of the keycloak_realm resource (#130), i notice that a terraform import does not write any informations from the `headers` and `brute_force_detection` block in the terraform statefile. Its seems all settings of the `security_defenses`  are ignored at a terraform import. Creating and updating a realm with the settings works fine.

I can

[2020-02-11 22:03] tomrutsaert commented on #218
I saw that as well, i have added those fields  in pr #215, should work once that PR is merged.
(Thx for the documentation update)

[2020-02-11 22:06] adresan commented on #218
Ah okey great. Thanks for the update as well 👍
I mark this Issue as closed.

[2020-02-12 16:34] yspotts opened #219 "Add scope based permissions"
First of all, this package is fantastic! Thanks!

I noticed that the `OpenidClientAuthorizationPermission` only allows for creation of resource based permissions, but does not allow for creation of scoped based permissions.

To the same point, the creation of permissions hits the `/permission/` endpoint. It seems like now, keycloak  favors appending the `type` to the end of the url: `resource` or

[2020-02-12 16:41] dlechevalier commented on #200
Hi, thanks for the feedback. Go back to work soon on it.

[2020-02-12 16:41] #200 closed

[2020-02-12 18:31] yspotts commented on #219
I went ahead it a shot: https://github.com/mrparkers/terraform-provider-keycloak/pull/220

[2020-02-13 14:31] adresan commented on #149
Hi @AllaeddineEL,

a seperate ressource would be nice, but did you notice that you can use the keycloak_generic_client_protocol_mapper to map a Group list attribute?

For example:

[code]

The attribute details you can get by a 'Get mapper by id' REST-Call on a existing mapper in your client.

`GET /{realm}/client-scopes/{id}/protocol-mappers/models/{id}`

The output is a json with all the details

[2020-02-13 15:45] #205 closed

[2020-02-13 21:59] adresan opened #223 "resource_keycloak_oidc_identity_provider does not require client authentication"
During i start to write docs for the resource_keycloak_oidc_identity_provider, i play a little bit around with it and testing creation and import. I notice that its possible to create a oidc provider without setting the `Client Authentication` field. This field is required if you create a oidc provier over the UI.

![image](https://user-images.githubusercontent.com/59478315/74481322-cedda980-4eb2-

[2020-02-13 23:11] adresan commented on #212
Terraform does only manage resources which belongs to your statefile.

When you create a new realm named myrealm, only the `keycloak_realm.myrealm` resource is managed inside your statefile at this moment. All the default clients are created by keycloak itself and not by terraform, so this clients are not a part of your terraform statefile at this moment and terraform does not know this clients.

[2020-02-14 06:21] tomrutsaert commented on #223
Keep in mind this is a new field since keycloak 8, people are using this provider for older versiobs as well, and in older versions this field is not required. (In older versions keycloak only supports implicitly secret post) if i am not mistaken keycloak 8 will fallback to secret post if it is not set.

Furthermore other idp inmplementatuons this field might not be required. Imho there should be

[2020-02-14 07:13] adresan commented on #223
Thanks for the input. If we need this field marked as optional for compatible reasons with older version, i will give this instead a extra mark in the documentation. I try to make the documentation supportive as possible for the users so they dont have to figure out how extra_config is filled and what is the mapping since keycloak 8.

I close this issue together with a doc PR during this weekend.

[2020-02-14 16:23] adresan commented on #223
closed with PR #224

[2020-02-14 16:23] #223 closed

[2020-02-17 12:25] lathspell opened #225 "Support client_scope_id in generic_client_protocol_mapper"
The generic_client_protocol_mapper is the only one that does only support client_id and not client_scope_id. Would be nice if it did.

Example for a mapper with client_scope_id: https://mrparkers.github.io/terraform-provider-keycloak/resources/keycloak_openid_user_property_protocol_mapper/

[2020-02-17 15:00] lathspell opened #226 "Refresh of client_default_scopes fails for deleted client"
I successfully applied a Keycloak config and then used the Admin GUI to delete a client.
Afterwards "terraform refresh" and "terraform plan" crashed:

[code]

The client "demoapp" (id=20ade26b-54ad-4aa9-b873-b169270155e3) is no longer present which should have been detected in the "keycloak_openid_client.demoapp" block. Still in the keycloak_openid_client_default_scopes" block its Id is used for a

[2020-02-18 19:40] dpoetzsch opened #228 "Add keycloak_openid_user_client_role_protocol_mapper"
Our project needs the `keycloak_openid_user_client_role_protocol_mapper` which seems to be missing so far.

As it seems to be not that difficult to add I figure this is just because no one needed it so far? If so, I might try to find some time to create a PR for it.

EDIT: I figured out how to do it with keycloak_generic_client_protocol_mapper:

[code]

 Anyway, I'll try to find the time to make t

[2020-02-20 12:07] lathspell opened #230 "Typo in ldap_user_federation"
At  https://mrparkers.github.io/terraform-provider-keycloak/resources/keycloak_ldap_user_federation/

It reads: "`vendor` ... Defaults to `OPTIONAL`."

That should probably be "Defaults to `OTHER`."

[2020-02-20 12:51] tomrutsaert opened #231 "resource_keycloak_oidc_identity_provider does not support setting up a Google IDP"
It is not possible to set up a google IDP with the resource_keycloak_oidc_identity_provider.

The _kc oidc idp resource_ assumes certain things that are not valid for most Identity Provider implementations that extend from IdentityProvider.java interface in the keycloak code base.
Example: GoogleIdentityProvider.java

In case of the _google Idp_ I found that:
============================
- authori

[2020-02-20 13:28] moritz31 opened #232 "Openid Client is missing the Advanced section"
The resource keycloak_openid_client is missing the Advanced Settings, which are needed to set Access Token Lifespan per client.

Did i oversaw something or is this missing?

[2020-02-20 13:54] tomrutsaert commented on #218
Hey @adresan #215 was merged, Can you check if if this now works for you?

[2020-02-20 14:32] adresan commented on #218
@tomrutsaert

Seems not to work. The security defenses headers are still comple empty in the statefile after a realm import.

`"security_defenses": [],`

[2020-02-20 14:36] tomrutsaert commented on #218
Strange.
Is any variable in security defenses in your config different from the default?

[2020-02-20 15:07] adresan commented on #218
Mhh yes, strange. Their should be no connection between a import of a realm and the defined attributes/variables inside the keycloak_realm resource. If you left security_defenses complete from your .tf file, he should still import the security_defenses inside the statefile if their are set in a keycloak realm - like he does with the smtp settings. But even if i define it with the example from the

[2020-02-20 15:38] dmeyerholt commented on #216
Hi i also observed related behaviour when importing a custom user federation. during import, the realm_id attribute is correctly used inside the imported federation resource (using the id of the realm). however trying to apply that (again) the resource is not found and will be recreated with another realm-id (the realm name) and even does not show up in keycloaks ui (as the provider is bound to an

[2020-02-20 16:36] tomrutsaert commented on #218
First of all I have to correct and excuse myself, The change I did #215 Is a change on data_source_keycloak_realm and that has no influence on keycloak realm resource import.
Thus, my PR will not have fixed this issue.
I was to eager to respond to your issue as it was talking about the exact same fields missing in the data_source_keycloak_realm

(I am not the biggest terraform expert :-/)

[2020-02-20 20:27] adresan commented on #218
Really no problem. I keep this issue open. If you or somebody else could fix this, i can test it again.

[2020-02-21 13:23] lathspell opened #234 "Missing attribute "trustEmail" in keycloak_ldap_user_federation"
The "keycloak_ldap_user_federation" resource is missing the attribute for the GUI option "Trust Email". See https://mrparkers.github.io/terraform-provider-keycloak/resources/keycloak_ldap_user_federation/

A change in the GUI puts the following JSON snippet in the "config" map:

        "trustEmail": [
          "true"
        ],

[2020-02-21 13:31] lathspell opened #235 "Cannot configure "Service Account Roles" for service Clients"
After enabling "Service Accounts Enabled" for an OpenId-Connect Client, the GUI offers a new tab "Service Account Roles" to give this service account a set of roles as there is no "user" involved.

I cannot find a Terraform resource for this.

The GUI transmits the following:

    POST https://keycloak-dev/auth/admin/realms/foo/users/a48f235a-00ed-4d47-bf30-c0f9e7a68ff2/role-mappings/realm
    [

[2020-02-21 13:35] lathspell opened #236 "keycloak_openid_client is missing "Root URL""
The keycloak_openid_client resource is missing the following two attributes that can be set using the GUI:

* Root URL
See "rootUrl" in https://www.keycloak.org/docs-api/5.0/rest-api/index.html#_clientrepresentation

* Advanced Settings / Access Token Lifespan
Transmitted as "access.token.lifespan" inside the "attributes" map from  https://www.keycloak.org/docs-api/5.0/rest-api/index.html#_clientr

[2020-02-21 13:37] lathspell commented on #236
Oh, someone reported the second point already in #232!

[2020-02-21 13:41] #235 closed

[2020-02-21 13:42] lathspell commented on #235
Duplicate of https://github.com/mrparkers/terraform-provider-keycloak/issues/152

[2020-02-21 16:23] mrparkers commented on #216
When you create realms in Keycloak, the ID for the realm is the same as its name, so typically those two attributes are the same and can be used interchangeably.

Honestly, I have never tried to change a realm's name before, because I wasn't sure what kind of impact that would have.  For example, the issuer value that Keycloak uses in the OIDC well-known docs uses the name of the realm, so changin

[2020-02-25 14:06] lathspell opened #238 "keycloak_realm is missing defaultSignatureAlgorithm"
They keycloak_realm resource is missing the attribute "defaultSignatureAlgorithm" from https://www.keycloak.org/docs-api/5.0/rest-api/index.html#_realmrepresentation that is needed to change the Algo from HS256 to RS256 as some framekworks like Micronaut do not understand HS256 (at least in the version I've encountered).

[2020-02-25 15:40] #225 closed

[2020-02-25 15:49] mrparkers commented on #231
I don't really have any experience using this particular feature of Keycloak, but generally I am in favor of having separate resources for this so we can be more explicit.  I agree that making changes to the generic idp resource might introduce changes that affect current users, so I like the idea of making a separate google idp resource.

[2020-02-25 15:52] mrparkers commented on #230
fixed, thanks for letting me know!

[2020-02-25 15:52] #230 closed

[2020-02-25 15:56] mrparkers commented on #226
This one is a bit tricky.  Normally, resources can detect when they have been deleted manually, and a following run of `terraform apply` will recreate the resource that was deleted manually.

In this case, the `keycloak_openid_client_default_scopes` resource can only function if there is a `keycloak_openid_client` resource that it can reference.  There's no way to recreate this without the client

[2020-02-25 15:56] #226 closed

[2020-02-25 16:23] mrparkers commented on #212
The answer above describes the problem perfectly.  Unfortunately, Keycloak likes to create a lot of resources for you as a side-effect, so it is difficult to fully manage in code due to situations like this.

I'm going to close this for now, feel free to post here again if you still have more questions.

[2020-02-25 16:23] #212 closed

[2020-02-25 19:50] camelpunch opened #239 "Provider attempts to unmarshal HTTP response errors as JSON"
Our CI setup deploys a fresh Keycloak and then immediately runs terraform on it. We have an underlying issue where we're not waiting long enough for Keycloak before we run terraform, but debugging that was made a little painful by some confusing terraform provider output:

[code]

Where "S" is actually the first character of the string "Service Unavailable"

[This line](https://github.com/mrparker

[2020-02-25 23:51] nagytech commented on #231
@tomrutsaert

I ended up re-using the `resource_keycloak_oidc_identity_provider.go` resource, but had to make a few modifications along the way.  If I recall correctly, I made 'authorization_url' and 'token_url'  optional since Keycloak already knows the correct values - and I think Keycloak rejected any dummy values I threw at it.  Additionally, I needed to add a 'client_secret' to the identity p

[2020-02-26 08:23] tomrutsaert commented on #231
@nagytech  Thanks for the information.
Just heads up, in the mean time custom flows is a supported feature.
Also, keep in mind that on realm level(atrtibutes) and on idp level(extra_config) it is possible to set any attribute that is not (yet) supported in the this provider.

for example, frontendUrl is new field and not supported by the provider, but you can do:

[code]
Perhaps it would be good i

[2020-03-03 17:45] Guarionex opened #243 "Add keycloak_ldap_msad_lds_user_account_control_mapper"
We have a keycloak realm that is been backed by an AD-LDS LDAP. We want to have the ability to reset temporary passwords and to reset passwords when users forget email.

We tried using the resource `keycloak_ldap_msad_user_account_control_mapper`, but we kept getting this error:
`21:41:59,926 DEBUG [org.keycloak.storage.ldap.mappers.msad.MSADUserAccountControlStorageMapper] (default task-18) Faile

[2020-03-04 14:54] oreza opened #245 "Javascript or Drools policies?"
Hi,
Can we use this provider to setup client resources and associated, permissions and javascript policies policies or drools policies?
Thanks

[2020-03-04 15:26] #232 closed

[2020-03-04 15:56] mrparkers commented on #231
Closed via #240

[2020-03-04 15:56] #231 closed

[2020-03-04 16:28] mrparkers commented on #245
I think what you're looking for is currently being worked on in #246.  Can you let me know if the contents of that PR will help you?

[2020-03-06 08:05] totobest commented on #152
Thank for the idea @mrparkers.

Would it better for the resource "keycloak_openid_client" to output an attribute `service_account_user_id` if `service_accounts_enabled` is set to `true`?

[2020-03-06 15:02] dmeyerholt commented on #216
Changing a realm's name in the keycloak frontend does not change its internal ID as far as i can tell. I will test some other resources apart from the user federation to see whether they are affected from possible name/id mismatches as well. If only the user federation is affected it could make sense to add an "internal_id" property to the keycloak_realm resource in order to use that for resource

[2020-03-11 15:34] languitar commented on #152
Any chance to get this going? We would need this.

[2020-03-11 16:17] mrparkers commented on #152
Looks like this is being worked on in #247

[2020-03-11 16:18] mrparkers commented on #245
I'm gonna close this since #246 has been merged and a release has been cut.  Let me know if this doesn't cover what you're looking for and I can re-open this.

[2020-03-11 16:18] #245 closed

[2020-03-11 16:18] #243 closed

[2020-03-12 15:01] tomrutsaert opened #249 "Since v1.17.0 : DefaultScope and acceptsPromptNoneForwardFromClient can not be set anymore via extra config for an oidc IDP"
Since v1.17.0

DefaultScope and acceptsPromptNoneForwardFromClient can not be set anymore via extra config for an oidc IDP

Because of the introduction of the google idp resource, I introduced 2 variables on this resource_keycloak_oidc_google_identity_provider.go and in the underlying keycloak/identity_provider.go
But those fields are actually also part of the generic oidc IDP, But they were missi

[2020-03-12 15:39] tomrutsaert commented on #249
See pull request: #250

[2020-03-12 15:57] #249 closed

[2020-03-16 12:08] lathspell commented on #234
See https://github.com/mrparkers/terraform-provider-keycloak/pull/251

[2020-03-16 13:39] lathspell commented on #226
Please have a look at https://github.com/mrparkers/terraform-provider-keycloak/pull/252

[2020-03-17 14:16] languitar opened #254 "keycloak_openid_client lacks client theme option"
It is currently not possible to configure the login theme on a per-client basis

[2020-03-18 14:48] mrparkers commented on #239
Yeah, I think we should catch the json unmarshal error and just present the raw string if that fails.  There's no need for the provider to fail here.  Good catch!

[2020-03-18 16:48] dwaynebailey opened #255 "resource_keycloak_openid_user_attribute_protocol_mapper::claim_value_type should allow JSON"
Keycloak allows JSON for the value of `claim_value_type`

<img width="321" alt="Screenshot 2020-03-18 at 16 47 02" src="https://user-images.githubusercontent.com/647438/76985519-3cf51080-6938-11ea-8a76-0cb68a732a10.png">

[2020-03-23 08:25] lathspell opened #257 "keycloak_user is missing "attributes""
The `keycloak_user` element is missing the "Attributes" key-value-map that is available in the GUI.

See https://mrparkers.github.io/terraform-provider-keycloak/resources/keycloak_user/ and
https://www.keycloak.org/docs-api/5.0/rest-api/index.html#_userrepresentation where "attributes" is listed.

I understand that local users are generally not recommended but for instances with <10 users or test

[2020-03-23 15:32] HediTun77 opened #258 "Error: Failed to instantiate provider "keycloak" to obtain schema: exec: "C:\\terraform\\terraform-provider-keycloak": file does not exist"
Hello,
I Installed Go into my machine and the visual code go extension. I succeed to build the go project, the build cmd  generate a "terraform-provider-keycloak" file, I add the generated file to terraform folder and under "terraform.d\plugins\windows_amd64". The "Terraform init" cmd is Ok, but when I execute Terraform validate I got the following error :
Error: Failed to instantiate provider "ke

[2020-03-23 19:55] mrparkers commented on #258
Hi @HediTun77.  I'm sorry that this isn't working for you.  Unfortunately, I am not sure that I will be of much help since I'm not a Windows user.

Could you try using one of the pre-built binaries available on the [releases page](https://github.com/mrparkers/terraform-provider-keycloak/releases) and see if that works for you?

[2020-03-23 20:36] HediTun77 commented on #258
Thank you mrparkers. In fact I resolve it by adding the ".exe" extension to the "terraform-provider-keycloak" file ====> "terraform-provider-keycloak.exe". That's all. Actually Im facing another issue when I execute plan cmd. I will create a new issue for it. Thanks

[2020-03-23 20:37] #258 closed

[2020-03-23 20:38] HediTun77 commented on #258
Renaming the "terraform-provider-keycloak" file to "terraform-provider-keycloak.exe" for windows

[2020-03-24 14:36] #255 closed

[2020-03-31 19:10] dmeyerholt commented on #216
Short update while fiddling around. some time ago we created a bunch of realms using curl scripts, these have random realm-ids set (instead of the default realm-name used as id).
When trying to create a new `keycloak_custom_user_federation` for those (previously imported) `keycloak_realm`s, I obviously ran into the problem.
I tried helping myself by using that realm_id which was generated (an uuid

[2020-04-01 15:36] mrparkers commented on #216
I think I understand this better now.

When you create a realm, you can optionally set its `id` to anything you want.  The GUI happens to use the realm name as its id, and I copied that behavior when I originally created this resource in the terraform provider.  If you omit the `id` attribute in the payload, Keycloak will generate a GUID for the id and use that.

When you change a realm's name, it

[2020-04-01 16:16] oreza commented on #245
Hi Parker,
Sorry for late reply, due to Cronovirus we had some changes in our schedules. We are not using Drools anymore, since it  is been deprecated, I think only requirements we had is to use Javascript policies. I will give it spin, as soon as possible.

[2020-04-07 13:36] dabelenda opened #268 "Cannot change the default ldap attribute mappers defined when creating an ldap user federation"
When creating a resource "keycloak_ldap_user_federation" keycloak under the hood created a few attribute mappers to map ldap attributes to profile attirbutes. If the LDAP attribute set by default in keycloak is not the correct one, this module does not allow you to change it.

creating a new resource "keycloak_ldap_user_attribute_mapper" with the same name will add the new attribute mapper to the

[2020-04-07 18:34] mechastorm opened #269 "Support SAML client authentication flow binding overrides"
Similar to #262, it would be good to also support the argument to override the authentication flow binding in `keycloak_saml_client` resource.

[2020-04-08 09:50] dmeyerholt commented on #216
Thanks for the explanation @mrparkers . i am still fiddling around with it. it seems like the "internal" id is even unmarshalled from the json here https://github.com/mrparkers/terraform-provider-keycloak/blob/6c7dfb2776dd905c5a0838fb62b771f1b2455b0d/keycloak/realm.go#L24 but will get overwritten by the realm name as stated by trois-six. however all over the code the term "id" is used when it is i

[2020-04-08 11:07] dmeyerholt commented on #216
maybe #270 could at least expose the "real" realm id without breaking anything. Before using the provider we created about 20 realms using the admin-cli tool by keycloak and a series curls. So it would be great to have those realm ids somehow in the terraform state for future resource adjustments.

[2020-04-13 07:29] mechastorm opened #273 "Support for SAML Role Name Mapper"
It would be good if this Terraform provider supported the ability for Keycloak to map role names in the SAML client.

In the Keycloak REST API docs, this is the "Protocol Mappers" > "Create a mapper"
https://www.keycloak.org/docs-api/5.0/rest-api/index.html#_protocol_mappers_resource

Example POST URL
[code]

Example POST payload
[code]

In my use case, I am configuring Keycloak for AWS SAML SSO.

[2020-04-23 16:16] awilliamsOM1 opened #276 "User-Agent uses the Go user agent instead of the Terraform user-agent"
Terraform uses a user agent that looks like this:

`User-Agent: Terraform/0.12.6 TF_APPEND_USER_AGENT` where `TF_APPEND_USER_AGENT` is an optional environment variable.

The keycloak provider in terraform does not specify the user agent when making requests so the default GO user agent is used `User-Agent: Go-http-client/1.1`

This causes problems for because we cannot properly identify traffic as

[2020-04-29 14:39] tpauling opened #279 "Support "Want AuthnRequests Signed" for SAML Identity Provider resource"
Seems the setting of "Want AuthnRequests Signed" is missing for a SAML indentity provider. Adding `want_authn_requests_signed` to the resource seems not working with latest release v1.18.0.

[code]

[2020-04-29 15:10] tomrutsaert commented on #279
I took a look in the code, and I found following snippet:

[code]

It seems the code will set it to true when there is a signature algorithm in the config.

[2020-04-29 16:13] tpauling commented on #279
Sometimes you need an expert to find this kind of things. Was not expecting this logic. After removing the `signature_algorithm` from the resource it worked out. Thanks for helping!

[2020-04-29 16:19] tomrutsaert commented on #279
Imho there should not be such logic in the provider as you never know how keycloak interpretation might change.
At least it should be added to the documentation

[2020-04-29 16:25] tpauling commented on #279
yep agree. Since the logic of the UI in keycloak behaves differently. only if you enable `want_authn_requests_signed` there other fields are appearing (incl. signature_algorithm)

[2020-04-29 21:13] radekg commented on #257
Hey @mrparkers, thank you for this provider. I have been looking through the issues and have noticed that the attributes appear to be on the master branch: https://github.com/mrparkers/terraform-provider-keycloak/commit/1267c01c079159818d5f7820a6a16baf3034a173#diff-67e0a793fd292094547b9fe88008a2d6.

[2020-04-30 09:26] tomrutsaert commented on #110
I think this already works and can be closed:

an example with 2 clients where the service account of application client has a admin role of the beareronly client
[code]

[2020-04-30 14:44] mrparkers commented on #257
You're right, it looks like this feature does exist, but is unfortunately missing from the docs.  I haven't been doing a great job keeping the docs fully up to date, my apologies.

I'll go ahead and close this and get the docs updated.

[2020-04-30 14:44] #257 closed

[2020-05-01 22:25] svenstaro commented on #161
Friendly bump. We kinda still need this. :)

[2020-05-06 14:49] javefang opened #280 "Client scope mapping support"
Hello,

Some of our `keycloak_openid_client` have `full_scope_allowed` turned off and with individual realm_roles / client_roles configured on the `Scope` page so that the token for the clients can include client_roles from other selected clients. We cannot turn on `full_scope_allowed` as that would make the token too large due to the number of clients we have.

Looks like it can be set via `/{rea

[2020-05-07 12:41] tomrutsaert commented on #110
@cthiebault, can you confirm this works? If it works, I will close this issue.

[2020-05-07 12:42] #110 closed

[2020-05-07 12:45] tomrutsaert commented on #236
root_url support was added in #248

[2020-05-07 12:45] #236 closed

[2020-05-07 12:54] tomrutsaert commented on #254
This feature was added on openid client in "support login theme parameter on openid client (#278)"

It is still missing on saml client

[2020-05-07 12:55] #254 closed

[2020-05-11 15:33] dmeyerholt opened #283 "PR #272 breaks refresh of existing state"
Hi,
during testing the current master tree' terraform refresh on a rather large state, it aborted with several
`Error: strconv.ParseBool: parsing "": invalid syntax`
errors. This seems to be related to PR #272 and commit 2bf367a0d330fe169511c53a4c1fff70e6a0d072 . maybe specifically this line https://github.com/mrparkers/terraform-provider-keycloak/blob/2bf367a0d330fe169511c53a4c1fff70e6a0d072/keyc

[2020-05-11 17:09] mrparkers commented on #283
Hey @dmeyerholt, sorry that this is happening to you.

I tried to reproduce this by running Keycloak 6.0.1 and applying the configuration in `example/main.tf` which includes a few of the resources that appear to be causing you problems, and I wasn't able to reproduce it.

Could you help me out by providing some sample HCL that reproduces this?

[2020-05-11 17:17] mrparkers commented on #283
Nevermind, I was able to reproduce it.  I can work on a fix, thanks for the bug report!

[2020-05-11 17:54] #283 closed

[2020-05-11 18:03] mrparkers commented on #283
@dmeyerholt let me know if the current master branch fixed your issue.  If it doesn't, feel free to reopen this.

[2020-05-12 05:12] slavko-vega opened #285 "Support Management Permissions Reference"
Support for Management Permissions is needed.
Currently it's not possible to use resources from:

- /{realm}/clients/{id}/management/permissions
- /{realm}/groups/{id}/management/permissions
- /{realm}/identity-provider/instances/{alias}/management/permissions
- /{realm}/clients/{id}/roles/{role-name}/management/permissions
-  /{realm}/roles/{role-name}/management/permissions
- /{realm}/roles-by-i

[2020-05-12 07:26] dmeyerholt commented on #283
Everything is fine now, thanks for the quick fix

[2020-05-15 16:56] rdelander opened #288 "How to update built-in resources, like Master Realm?"
Is it possible to update resources that are created by default?  To be clear, I am using the public docker image like so: `docker run -p 8080:8080 jboss/keycloak`

My goal is to update the theme attributes for the master realm.  I can query for the realm, but my understanding is that there is no way to then update it.
[code]

Clearly I will get conflict errors when trying to setup an additional `m

[2020-05-15 18:12] tomrutsaert commented on #288
You need to do first a _terraform import_ to be able to handle the state of an already existing resource that was not created by terrafrom.
More info can be found here: https://www.terraform.io/docs/import/index.html

On the top of my head you need to do following:

Create a tf file and add an empty master realm resource:

`
resource "keycloak_realm" "master_realm" {
}
`

Then run following comman

[2020-05-16 22:32] amfl opened #289 "Missing SSO session "remember me" realm attributes"
There are currently some [sso session expiration attributes](https://github.com/mrparkers/terraform-provider-keycloak/blob/master/docs/resources/keycloak_realm.md#tokens) which can be set on the realm resource.

According to the [Keycloak docs](https://www.keycloak.org/docs/latest/server_admin/index.html#_timeouts), there should _also_ be settings specific to the "remember me" switch which appear

[2020-05-18 13:21] zauberpony opened #291 "creating resource keycloak_user with federated_identity fails with keycloak >= 9"
Hey, first of all thanks for your work!

Creating users with federated_identity set fails for keycloak > 9 with the following message:

[code]

Basically https://github.com/mrparkers/terraform-provider-keycloak/blob/master/keycloak/user.go#L43-L46 fails for keycloak >= 9, since https://github.com/mrparkers/terraform-provider-keycloak/blob/master/keycloak/user.go#L36 already creates the federated_i

[2020-05-19 21:32] rdelander opened #293 "keycloak_openid_client argument "login_theme" not expected"
I am attempting to set the `login_theme` on my `keycloak_openid_client` and getting the following error.  I am on the provider version 1.18.
[code]

Resource:
[code]

It appears this functionality was added in https://github.com/mrparkers/terraform-provider-keycloak/pull/278 by @tomrutsaert .  Thanks!

[2020-05-19 21:36] rdelander commented on #288
This approach is working for me.  Thank you

[2020-05-19 21:36] #288 closed

[2020-05-19 21:39] rdelander commented on #293
My bad, I misread the release page.  This will be supported in the next release

[2020-05-19 21:39] #293 closed

[2020-05-22 21:30] svenstaro commented on #15
Can't this be closed now with #138 in?

[2020-05-23 06:59] tomrutsaert commented on #15
Yes, you are right.

[2020-05-23 06:59] #15 closed

[2020-05-23 18:03] boubech opened #295 "Client - allow remote resource management"
Hi,

Is possible to allow remote resource management from provider ?

Regards,

[2020-05-23 21:40] svenstaro opened #296 "Allow for defining Flow priorities declaratively"
Hey, great plugin. We use in Arch Linux for basically all of our SSO infra.

However, we ran into the limitation that we can't declaratively define the priorities of executions and subflows inside of a flow. This is kind of annoying. I know that you can hack this using `depends_on` but frankly that's not really the Terraform spirit. It would be great if you could add some logic to allow for declar

[2020-05-24 06:40] tomrutsaert commented on #296
Hey,

I agree it is annoying and I agree using `depends_on` is hack and against the terraform spirit.
The issue is:
Keycloak admin API seems to be build with 1 purpose and that is to support the admin ui.
So the Keycloak admin API sets the priority in the order you are creating the subflows/authenticators.
There is no field for priority during creation.
When changing the order/priority for an exis

[2020-05-24 11:26] svenstaro commented on #296
Thank you for the detailed explanation. That's also what I figured. What I'm thinking is: you can still kind of acceptably pretend to allow for absolute ordering by allowing the user to input absolute number, sorting the items of the same flow level by those numbers and then issuing the API calls in order. You could even allow for reordering using that method. Granted, it would take a little longe

[2020-05-25 13:20] svenstaro opened #297 "Trying to delete a currently active flow bindings results in 500"
So when you make a new Browser Flow "My Flow" and then choose it as a `browser_flow = "My Flow"` and then delete "My Flow", the operation will fail with 500. Apparently you can't delete a flow that's in use. While I think this should definitely be handled by Keycloak itself, in the meantime, how about when deleting a flow that's in use by a flow binding, you first change back the flow to its respe

[2020-05-26 09:38] timmjd opened #298 "Assign realm default flow not possible"
Within the current design it's not possible to modify the realm flows caused by a __cyclic dependency__ between __keycloak_realm__ and __keycloak_authentication_flow__:
* The creation of a flow requires a realm to be present.
* The default flow of the realm must be provided during realm creation.

[code]

For a newly created realm, the presence of the __browser_flow__ value will lead to a 500 erro

[2020-05-26 12:33] tomrutsaert commented on #291
Thanks for the report, good find.
Temp workaround, first create the user, then add the federate identity....

Good that keycloak changed this behavior so drastically.... :confused:
So before version 9, It ignored the federated identity when you did a POST to create a new user. You need to do an explicit call to add the federated identities.
Starting version 9 it does look at the federated identiti

[2020-05-26 12:49] zauberpony commented on #291
Well, instead of deleting the federating identity, you could check if they have been created/are available.
Or, remove the `federatedIdentities` from the `user` when doing the initial post.

Both solutions (and some others one could think of like e.g., just ignore 409 etc.) feel hacky.

Maybe it could be a solution to define the (major) keycloak-version in the provider, and then the keycloakClient

[2020-05-26 12:50] tomrutsaert commented on #291
The extra  "funny" thing is, this behavior is only changed when creating new users.
When updating a user, the federated identities are ignored in the PUT call and you need to make the extra call to update the federated identities :unamused:

[2020-05-26 12:52] tomrutsaert commented on #291
I will make a PR, I am already toying with this code

[2020-05-26 12:59] tomrutsaert commented on #291
As you hinted, removing the fed identities from the initial post seems to be the cleanest way to do it, It should work in any circumstance.

[2020-05-27 13:42] tomrutsaert commented on #291
Fixed, should come with next release

[2020-05-27 13:42] #291 closed

[2020-05-27 14:50] mrparkers commented on #297
I think the best we can do in this situation is make the error message more clear.  It makes sense that Keycloak would return a 500 when you try to delete a flow that's in use, and I think it's a better user experience to present this error back to the user, rather than the provider working around it and modifying another resource that you didn't expect it to.

I'm happy to keep this issue open so

[2020-05-27 15:03] zauberpony commented on #291
Just tested with master, I can confirm that it works. Great job, Thank you very much!

[2020-05-28 10:37] tomrutsaert commented on #298
You are absolutely right, and I was aware of this. The reason I did not encounter this issue initially is because in my case my realm already existed.

We would need an additional resource to solve this.

To work around the cycle dependency you can use a var which you then you use in both locations(realm.browser_flow and flow.alias), or work with a string like in your example.

The work around wou

[2020-05-28 14:51] bruno-delfino1995 commented on #298
@tomrutsaert I did some work around this and was planning to submit a PR with [these changes](https://github.com/mrparkers/terraform-provider-keycloak/compare/master...bruno-delfino1995:authentication-bindings). However, I didn't manage to take the time to study and create automated tests so that I could submit a proper PR.

At my company, we are using the before-mentioned code, and it worked pret

[2020-05-29 09:58] javefang commented on #280
Looks like the feature is already implemented by https://github.com/mrparkers/terraform-provider-keycloak/pull/242, just lacking the documentation. This terraform config does exactly what I wanted

[code]

I will try to add some documentation for this before closing the issue.

[2020-05-29 10:39] tomrutsaert commented on #298
Seems good! The only thing that might need to be added is to support backwards compatibility perhaps. I can imagine many people are already using the old way to set a flow.
Or perhaps we can cover this in the release notes by pointing it out. I will leave that up to @mrparkers

I not really Golang expert nor an terraform expert either. :-) The way I learned to write these tests, is by copy pasting

[2020-05-29 11:21] tomrutsaert commented on #280
Thx for the documentation

[2020-05-29 11:21] #280 closed

[2020-06-04 11:51] javefang opened #312 "Failed to remove keycloak_group_roles if the referenced group is missing"
We have a use-case where groups are imported from AD, and referenced as data source and we manage the `keycloak_group_roles` as terraform resource.

[code]
Today we had an case where the AD group `mygroup` is removed in AD. Since keycloak syncs to AD, the group is removed in keycloak as well. We think we can just remove the config above since they are no longer needed. However, terraform plan fail

[2020-06-05 11:06] cpesch opened #313 "Register as thirdparty provider for terraform 0.13"
When using the latest 1.18.0 plugin with terraform 0.13 beta 1 I failed to get beyond

[code]

https://www.hashicorp.com/blog/adding-provider-source-to-hashicorp-terraform/ says

Please consider this.

[2020-06-05 14:52] mrparkers commented on #313
This seems like an awesome change, I'll be looking forward to not having to build my own Docker images with all of my third party providers pre-installed.  Once I learn more about this I'll happily work on it.

[2020-06-09 08:49] dembaca commented on #297
I have a related problem: When defining additional `keycloak_authentication_flow` resources you need to provide a `realm_id`, so the resources can be created successfully within the realm. However, if you refer to a custom flow in the `keycloak_realm` resource like above, the realm creation fails, because the custom flows do not yet exist. So this is a chicken-and-egg problem.

I was thinking if i

[2020-06-09 08:59] tomrutsaert commented on #297
@dembaca , It is a known issue: see #298

[2020-06-11 15:28] mattronix opened #317 "An argument named "default_scopes" is not expected here."
Get the following error when using below config "An argument named "default_scopes" is not expected here."
resource "keycloak_oidc_identity_provider" "REMOVED" {
  realm             = "master"
  alias             = "REMOVED"
  display_name      = "REMOVED"
  authorization_url = "REMOVED"
  client_id         = "REMOVED"
  client_secret     = "REMOVED"
  token_url         = "REMOVED"
  logout_url

[2020-06-11 15:33] mattronix commented on #317
Wondering if i might be doing something wrong :)

[2020-06-11 15:34] mattronix commented on #317
default_scopes - (Optional) The scopes to be sent when asking for authorization. It can be a space-separated list of scopes. Defaults to 'openid'.

[2020-06-11 15:39] tomrutsaert commented on #317
Should normally work

What version of keycloak and what version of the provider are you using?

[2020-06-12 08:27] mattronix commented on #317
* provider.keycloak: version = "~> 1.16"

[2020-06-12 08:30] mattronix commented on #317
Keycloak version: 8.0.1

[2020-06-12 08:48] mattronix commented on #317
I'm using the provider from the registry so guessing that maybe the problem?

[2020-06-12 08:58] mattronix commented on #317
I have found the issue seems this machine im on had keycloak provider installed already from an older release thought it came from the registry.

WIll update and try again.

[2020-06-12 09:18] mattronix commented on #317
Fixed!

[2020-06-12 09:18] #317 closed

[2020-06-12 09:18] mattronix commented on #317
Thanks! :)

[2020-06-12 15:42] mrparkers commented on #312
Actually, we can work around this in the provider.  Most of the resources in the provider will remove themselves from state if they detect that they're no longer present in the Keycloak server.  This particular resource can do this when the group its tied to is queried during read.

Feel free to re-open this issue if this is something you'd like me to create a fix for.

[2020-06-15 09:11] alialperak opened #322 "Offline Session Max Limited toggle"
Setting `offline_session_max_lifespan` in `keycloak_realm` requires setting `Offline Session Max Limited` to `true` to work. Currently there is no way to set `Offline Session Max Limited` in the provider.

Testing on keycloak version: 8.0.1

[2020-06-15 22:05] javefang commented on #312
Thanks for pointing this out 👍 . It will be helpful in cleaning up situation when the group is removed for some reasons. Will save time on running `terraform state rm`. I'll reopen it here. Much appreciated!

[2020-06-16 02:11] n0rig opened #323 "Unable to retrieve keycloak_user resource's username property"
I was trying to pass a list of emails to a group membership by using their respective keycloak_users resource; as shown here:
https://github.com/mrparkers/terraform-provider-keycloak/blob/213ec9ac4260562c739f669caea4120704f80b1f/example/main.tf#L142

However, this does not work for me on v1.19 of the keycloak provider.

error:
[code]

[2020-06-16 11:25] jcharlytown opened #324 "Default (Client) Roles"
Hi,

first of all thanks everyone for making this provider happen. This makes managing keycloak realms so much easier!

However, I was wondering if there is a functionality to set default roles on a realm, specifically client roles? Using the security console this is possible via "Roles" -> "Default Roles". In case of client roles, on the API level this seems to be a field within the client repres

[2020-06-16 14:43] mrparkers commented on #323
This does not look like a provider issue to me.  It looks like you have a terraform module called `users`, and you're trying to use an output from this module called `keycloak_user`, and the error message you're receiving is that the module `users` does not have an output called `keycloak_user`.

In other words, I'd expect to see something like this in your module:

[code]

Let me know if adding t

[2020-06-22 08:00] timbmg commented on #312
Might this also apply to group memberships?

[2020-06-23 09:19] timbmg opened #326 "Custom terms.ftl for Terms and Conditions in login theme"
Is there a way to update the `terms.ftl` of the login_theme?

[2020-06-23 13:03] tomrutsaert commented on #326
No, This provider is to configure keycloak, not to extend keycloak.
You need to create a custom theme for this.
The easiest way, is to extend the existing keycloak login theme and override terms.ftl, or set the correct message in message.properties.
More information can be found in the keycloak documentation.
https://www.keycloak.org/docs/latest/server_development/index.html#_themes
Once the custo

[2020-06-23 13:03] #326 closed

[2020-06-25 06:02] shaunc opened #328 "Question: how to create service account "realm admin" role?"
[From the docs:](https://mrparkers.github.io/terraform-provider-keycloak/#assigning-roles)

I'm programmatically creating a realm, and want to add a "terraform" client for subsequent management. How do I do what the docs ask me to do?

[2020-06-25 06:04] shaunc opened #329 "Question: how to add roles to a service account?"
[From the docs:](https://mrparkers.github.io/terraform-provider-keycloak/#assigning-roles)

I'm programmatically creating a realm, and want to add a "terraform" client for subsequent infrastructure management by terraform. How do I do what the docs ask me to do?

[2020-06-25 06:26] tomrutsaert commented on #329
In what language or script-language do you want to create this 'terraform' client?

In bash you could use this script:

https://github.com/mrparkers/terraform-provider-keycloak/blob/master/scripts/create-terraform-client.sh

[2020-06-25 08:53] chanhht opened #330 "The `keycloak_group` would break if the group name contains `/`"
Hello, as the company convention, we will name Keycloak groups following the format `parent/sub/group` (eg. cloud/company-x/developers). This works so far with Keycloak, however when we try to involve `data keycloak-group` if would fail with msg:
`Error: unable to determine parent ID for group with path /cloud/company-x/developers`
I dig in the code and see that the provider is trying to get the `

[2020-06-25 12:32] shaunc commented on #329
@tomrutsaert Ah -- thanks for the link! I was hoping to create in terraform, but it would seem that the package doesn't support assigning roles? (Sorry -- I'm a newbie with this provider.) The script is a good plan B.

[2020-06-25 14:05] tomrutsaert commented on #329
well it does, but you first need to have a user/client that can execute the necessary api calls so that the provider will be able to do these same api calls....
That is why the documentation talks about having user/client with a realm-admin role to be able to manage the specified realm.....
It is a bit chicken/egg problem. You can not use this keycloak-terraform-provider to manage keycloak instanc

[2020-06-25 14:22] shaunc commented on #329
The situation is this: In terraform provider #1 I am using default admin client w/ password to create realm, and add "terraform" client. Then #2 to setup particular clients in that realm I have another terraform provider which uses it to create.

In #1 the step I can't yet do is add the role to the service account of the "terraform" client.

[2020-06-25 14:34] tomrutsaert commented on #329
in step 1 you could add something like this:

[code]

I just typed this, I did not test this, so there could be a mistake in it, but it should give you a general idea....

[2020-06-25 14:38] shaunc commented on #329
Aha -- `terraform_client_sa_role_mapping` -- that was exactly the part I was missing! :)

I was confused -- I thought that the "mapping" was for client "mappers." I need to get my head around the keycloak data model a bit more. Thank you! ... (I'll go try and close if it works :))

[2020-06-25 14:48] shaunc commented on #329
Hmm.. so the role I want to assign is the "client role" of "realm-admin" from the "realm-management" client. Can I get ahold of this using a data.keycloak_role?

![image](https://user-images.githubusercontent.com/193170/85742486-46c5a700-b6d1-11ea-8aca-51aeb5f25e24.png)

[2020-06-25 15:03] shaunc commented on #329
Hmm... for `role` in `keycloak_openid_client_service_account_realm_role` I tried `data.keycloak_role.my-realm_admin_role.name` as you suggested, and also `data.keycloak_role.my-realm_admin_role.id`. Either way I get: "Role not found".

Where is the documentation to `keycloak_openid_client_service_account_realm_role`?

---
[code]

[2020-06-25 15:06] tomrutsaert commented on #329
The docs are missing,

client role can be done via

[code]

[2020-06-25 15:14] shaunc commented on #329
Great! So for the record, this is what works:
[code]
Also, it would seem that the doc is on its way already, just not up on the docs site: https://github.com/mrparkers/terraform-provider-keycloak/blob/master/docs/resources/keycloak_openid_client_service_account_role.md

Thank you so much for your help!

[2020-06-25 15:14] #329 closed

[2020-06-25 15:37] mrparkers commented on #329
Thanks for pointing that out, it should be live on the docs site in a few minutes.

[2020-06-25 21:37] ryanmac8 commented on #273
@mechastorm It's actually already supported. Use the generic client protocol mapper. Also you can view the source page in Chrome and see what config is expected when using the generic client protocol mapper.

resource "keycloak_generic_client_protocol_mapper" "saml-role-mapping" {
  realm_id        = "master"
  client_id       = keycloak_saml_client.saml_client.id
  name            = "Role Name Ma

[2020-06-26 06:32] tomrutsaert commented on #328
I think this was already answered in #329,
I will close this, If needed you can reopen it.

[2020-06-26 06:32] #328 closed

[2020-06-26 06:38] shaunc commented on #328
Ah -- sorry -- didn't mean to duplicate; not sure how that happened.

[2020-06-29 14:58] mrparkers commented on #323
I'm going to go ahead and close this since it doesn't look like a provider issue.  Feel free to re-open this if you still have more questions.

[2020-06-29 14:58] #323 closed

[2020-06-29 15:09] mrparkers commented on #330
Yeah, this is a tricky one.

When I first implemented the `keycloak_group` resource, I didn't think about the group name itself containing a backslash.  To my knowledge, there isn't an API method that allows me to get a group's parent, or I would have used that instead.

The reason that computing the parent ID is important is because of Keycloak's ability to have nested groups.  This allows you to

[2020-06-29 15:18] tomrutsaert commented on #330
We could make it a setting on the provider itself?

[code]

The default would be "/"

[2020-06-30 14:12] chanhht commented on #330
@tomrutsaert the `path` value is returned from Keycloak and it is hardcoded the path divider to `/` so I think we cannot make the change on that.

@mrparkers do you think it would help if we add checking on group path `startWith` to reduce the number of nodes travel through?

Btw, think I found another issue with `data keycloak_group` when query a nested group
[code]
Then I received this error:
[c

[2020-07-01 04:12] chanhht opened #333 "data `keycloak_group` fails with nested group"
When trying `data keycloak_group` with the nested group, it returns an error
Step to reproduce:
[code]
Then received this error:
[code]
Both groups are present in Keycloak after the first creation run.

_Originally posted by @chanhht in https://github.com/mrparkers/terraform-provider-keycloak/issues/330#issuecomment-651817895_

[2020-07-03 12:26] sj14 opened #335 "keycloak_generic_client_role_mapper wrong documentation"
Some parts of the examples for the [keycloak_generic_client_role_mapper](https://mrparkers.github.io/terraform-provider-keycloak/resources/keycloak_generic_client_role_mapper/) seem to be wrong:

## Example Usage (Client Role to Client)

This ...

[code]

... should probably be

[code]

## Example Usage (Client Role to Client Scope)

This ...

[code]

... should probably be

[code]

[2020-07-03 12:26] sj14 opened #336 "keycloak_generic_client_role_mapper not working for "Realm Role to Client" and "Realm Role to Client Scope""
Hi, thanks for the nice work you have done with the project. I encountered an error when trying the examples for the [keycloak_generic_client_role_mapper](https://mrparkers.github.io/terraform-provider-keycloak/resources/keycloak_generic_client_role_mapper/). I'm running the docker-compose file for the test setup. Please see below configs and execution output.

##  Example Usage (Realm Role to Cli

[2020-07-07 09:50] Ankitchandre opened #338 "add keycloak openid audience resolve protocol mapper"
I am not able to find this type of mapper in docs . Can you please add add keycloak openid audience resolve protocol mapper.

[2020-07-08 14:27] timbmg opened #341 "Assign Required Actions to Users/Group"
As per #131 required actions can be defined.

Can these be assigned to a user resource? I am thinking of something like this:

[code]

According to the Keycloak docs this should be possible via the API.
The user resource takes a list of strings for required actions. See here: https://www.keycloak.org/docs-api/10.0/rest-api/index.html#_userrepresentation

[2020-07-08 14:36] tomrutsaert commented on #341
I might be mistaken, but this does not make any sense to me.
Terraform is to handle state. In this case the state of keycloak.
By setting this required action, it would be re-set every time again, even if the user has completed the required action.
Because setting a required action is a temporary thing a user needs to do at the next login.
Once a user has done the required action, the required act

[2020-07-08 15:04] timbmg commented on #341
Yes good point, that of course would not desired.

I tried to set my required action as default action, so the newly created users should have them. But that did not work.

[2020-07-08 15:21] tomrutsaert commented on #341
That should work. Did you enable the required action as well?
Are both checkboxes checked when you verify it via the admin ui?
At least the UI docs state that this is the intention.
![image](https://user-images.githubusercontent.com/13900759/86937311-62a06280-c13f-11ea-9a50-8521da9108a4.png)

[2020-07-08 15:23] timbmg commented on #341
Yes, it's enabled and default action is also set.

I just tried to add an user via the admin UI, there the default actions are automatically added when creating the user.

[2020-07-08 15:24] timbmg commented on #341
Might this be due to the order the resources are created?

[2020-07-08 15:35] timbmg commented on #341
Indeed that was the problem.
I added a `depends_on` on the required_action, and it worked out.

[2020-07-08 15:35] #341 closed

[2020-07-09 02:08] rdelander commented on #313
Any updates on this?  I am also really looking forward to using the beta for the new modules for_each functionality

[2020-07-09 10:17] cpesch commented on #313
Hi @rdelander,

since 0.13 beta 2 it's possible to use module for_each

I've added a versions.tf to both the module and the project including it:

[code]

After moving the plugin to

`~/.terraform.d/plugins/github.com/mrparker/keycloak/1.19.0/darwin_amd64/terraform-provider-keycloak_v1.19.0
`

it works fine for me without a registration. Which would still be helpful though ;-)

[2020-07-14 07:15] ghost opened #343 "Relative base_urls are marked as invalid inputs (1.16.0 -> 1.19.0)"
Good morning,

when creating a new realm, keycloak adding some standard clients (account, account-console, security-admin-console). This clients using relative urls as the base url. If i import this client to manage it in terraform also, i could use the relative url in version 1.16.0. For example:

`base_url = "/realms/myrealm/account/"`

![image](https://user-images.githubusercontent.com/68268916

[2020-07-14 15:35] mrparkers commented on #343
Hi @anepak,

I believe I was able to fix this in #344.  I think it's a Keycloak API issue, where the API rejects the request if it includes an empty `rootUrl` (even if the `rootUrl` for the client is already empty).

If you can, I'd appreciate it if you'd build the provider from source with the contents of #344 and give it a shot to see if it fixes the issue you were having.

[2020-07-14 17:51] anepak commented on #343
@mrparkers Thanks for the quick fix and your reply. I will build the provider and test it. I give you a feedback tomorrow.

[2020-07-15 07:10] anepak commented on #343
@mrparkers iam sorry to tell that the code from #344  does not fix the issue.

[2020-07-15 09:33] sj14 commented on #336
Fixed with https://github.com/mrparkers/terraform-provider-keycloak/commit/d69207be8ff750cd0fc7f10cab84d6a1c3e4248f

[2020-07-15 09:33] #336 closed

[2020-07-15 16:25] mrparkers commented on #343
Could you give me a sample HCL snippet that reproduces the issue you're seeing?  It's possible that the same conflict I fixed in #344 exists for other attributes as well.  Thanks!

[2020-07-16 07:04] anepak commented on #343
@mrparkers Thanks for your reply

i can reproduce it this way:

1. Create a new realm via `terraform apply`

[code]

2. Define the account client of this realm

[code]
3. Import the account client to the statefile

`terraform import keycloak_openid_client.account myrealm/{id}`

4. Trigger a `terraform apply`

Then it shows the following output:

[2020-07-17 08:15] arkesan opened #346 "apply on keycloak_realm resource overrides non-managed token list-element attributes without showing changes"
Good morning,

when i make changes on the keycloak_realm resource, for example change the token `sso_session_idle_timeout`, the provider (or the keycloak api) overrides the attributes from the list element `Default Signature Algorithm` and `Override User-Initiated Action Lifespan ` with null (?) values. This attributes are not implemented in the keycloak provider and terraform does not show change

[2020-07-17 13:25] tomrutsaert commented on #346
I would state that when something is managed by terraform, it should not be manipulated via the ui.
As a realm resource is managed via 1 PUT call, it seems logical that the provider does not send any value for fields not declared in the terraform config. So IMHO this not a bug, it is just a not supported field.

That being said: you could add those fields to the attributes field of the realm resou

[2020-07-17 13:32] arkesan commented on #346
Ahh thanks! I dont know i can handle attributes this way. I will checko it out.

[2020-07-17 13:32] #346 closed

[2020-07-18 01:11] #333 closed

[2020-07-18 01:13] #330 closed

[2020-07-19 03:35] shaunc opened #347 "Error: Provider produced inconsistent final plan -- Error: Provider produced inconsistent final plan"
Got the following error from terraform apply:
[code]
Just finished creation of keycloak_openid_client.dev_site in:
[code]
I'm using the dev version (installed from cloned repo to get some recent bug fixes).

[2020-07-19 04:54] shaunc opened #348 "add keycloak_openid_client_default_scopes fails (replicating existing in terraform)"
After configuring the client default scopes manually (adding a scope to attach client_id to audience), I have tried to recreate in terraform:
[code]
When I try to run I get the plan:
[code]

However, on application I get an error:
[code]
I'm using the latest dev version, compiled on a Mac.

[2020-07-22 07:07] tomrutsaert opened #349 "Documentation is not updated for version 1.20"
@mrparkers could it be that the documentation is not updated to the latest release version?
For example, I do not find the keycloak_identity_provider_token_exchange_scope_permission documentation part.
Can I upgrade the documentation myself? If yes,how?

[2020-07-22 15:00] mrparkers commented on #349
You're right, I forgot to do this.  Just updated it now.

I use `mkdocs gh-deploy` to update the docs, which requires push access to the `gh-pages` branch, which you should have.  So you can do this in the future if you want.

I really need to bake this into the CI process for releasing so this doesn't need to be a manual process.

Thanks for the reminder!

[2020-07-22 15:00] #349 closed

[2020-07-23 02:15] lawrenceong commented on #298
Worked around this by using default flow on realm and base flow creation.  One done, we can run the rest via CI.  For example:

[code]

With that code, initial "manual" init would be:
[code]

Once done, it will be possible to apply the rest.

[2020-07-26 10:29] dungdm93 opened #353 "[Feature Request] keycloak_group.parent_path as alternative of parent_id"
I'd like to you `for_each` to create keycloak groups. The code look like this:
[code]
However, terraform detect that cycle dependency error.
So, It would be nice if `parent_path` is supported as alternative of `parent_id`, our code will be like this:
[code]

[2020-07-29 01:31] rdelander commented on #313
@cpesch I just returned to attempting the move over to 0.13.  Looks like I'm still seeing this error with your approach:
[code]

My setup:
[code]
I also moved the plug to
[code]

Was wondering if you had any other advice?  Thanks for the help.

[2020-07-31 11:11] klausenbusk opened #354 "Support registering a new required action"
https://github.com/mrparkers/terraform-provider-keycloak/pull/131 implemented so we can update existing required action, but we can't add new required actions (ex: WebAuthn).

Registering a new required action is done by posting to [`/{realm}/authentication/register-required-action`](https://www.keycloak.org/docs-api/11.0/rest-api/index.html#_registerrequiredaction), ex:
[code]

Unregistered requi

[2020-07-31 12:27] klausenbusk opened #355 "Realm WebAuth{, Passwordwordless} Policy"
It would be nice, if we could configure the policy with Terraform.

[2020-08-02 18:04] cpesch commented on #313
Please follow https://www.terraform.io/docs/internals/debugging.html and try to set TF_LOG=TRACE and have a look a the output

[2020-08-03 03:57] cah-andrew-fitzgerald commented on #313
@rdelander I think you actually want to remove the `required_providers` block and just use `provider keycloak` as top level configuration until this issue is complete.

My understanding is that the `terraform.required_providers` block is for pulling providers from the registry.
Since this one isn't in the registry yet, you shouldn't be using it.

[2020-08-03 14:07] paulvollmer commented on #324
hello,
someone working on that feature? if not, then i can work on that.

/cc @mrparkers

[2020-08-03 14:29] mrparkers commented on #324
@paulvollmer feel free to pick it up if you want to work on it, I appreciate the help!

[2020-08-03 16:46] mrparkers commented on #313
Just wanted to update everyone here that I'll be working on getting this provider added to the Terraform registry this week.  There's a lot of work to update the documentation and add some stuff to the release process.

[2020-08-06 08:55] peter-fe opened #358 "Add Social Identity Providers"
@mrparkers, first of all thank you very much for this great provider!

Actually I never used a provider before where importing existing stuff and including new resources worked that flawlessly!

The only thing I'm missing currently is the ability to config those pre defined "Social Identity Providers", that may would be a nice enhancement.

Best
Peter

[2020-08-06 15:31] mrparkers commented on #358
Hi @peter-fe,

I'm so happy to hear that the provider has been working well for you.

If you happen to need the Google identity provider, then the good news is that this resource is actually supported by this terraform provider, it just isn't documented.  https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/resource_keycloak_oidc_google_identity_provider.go

If not, could

[2020-08-06 17:04] peter-fe commented on #358
Hi @mrparkers,

You nailed it (once more), it's the Google one I was looking for ;).
Thx for the link I'll give it a try.

Best
Peter

[2020-08-06 17:09] mrparkers commented on #358
Awesome!  Just to give a quick example, here's the simple configuration that my current employer uses with their GSuite logins:

[code]

If you need more than that, the schema for this resource is the result of merging the schema for the link I posted above, and the  schema for the generic identity provider, found here: https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/

[2020-08-06 17:29] peter-fe commented on #358
Great! I Think that's perfect!

[2020-08-06 21:27] klausenbusk opened #359 "Update to Plugin SDK v2"
See https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html

[2020-08-07 06:16] peter-fe commented on #358
Hey @mrparkers,

Worked like a charm! Thank you!

[code]

[2020-08-07 10:40] languitar commented on #152
As the #247 is closed now and #315 is merged, is this resolved now?

[2020-08-08 06:54] shaunc opened #361 "Error: Provider produced inconsistent final plan"
On apply, I get:
[code]
This is presumably referring to:
[code]
Note that `keycloak_openid_client.dev_site.name`, which exists in terraform state, needs to be recreated, as I'm re-installing keycloak.

NB I've hit other errors such as:
[code]
e.g. when apply is creating group that is still in state. In those cases, removing from state resolves. In this case, the issue is resolved on rerun. I hypot

[2020-08-08 14:25] shaunc commented on #348
NB -- still an issue in latest version

[2020-08-11 14:41] mrparkers commented on #313
Update - I'm about halfway done with fixing the documentation (also taking the time to backfill missing docs).

[2020-08-12 21:58] yogsoft commented on #358
@mrparkers I am trying to use `keycloak_oidc_google_identity_provider` but seems like `google` hard coded value for `Alias` is not allowing it to be used for Microsoft identity provider.

Is there anyway to configure it for Microsoft identity provider?

[2020-08-17 14:25] mrparkers commented on #359
This will be done as I work on #313

[2020-08-18 08:20] duc12597 commented on #324
+1 for default realm roles

[2020-08-18 09:49] mstichweh opened #363 "Add support for Attribute Importer Mappings for Google Identity Provider"
Since the Google Identity Provider is already supported, it would be very nice, if Attribute Importer Mappings could be also managed for the Google Identity Provider.

[2020-08-18 10:03] paulvollmer commented on #324
@mrparkers  i started working on that.

[2020-08-18 12:33] yogsoft commented on #358
@mrparkers Anyways, I managed Microsoft SSO using key-cloak OIDC resource.

[2020-08-26 13:10] Kinrany opened #370 "Realm field "registration_flow" missing from the docs"
`registration_flow` can be specified, and is recognized by the Terraform plugin for VSCode, but is never mentioned in the docs.

[2020-08-26 13:36] Kinrany commented on #370
It's already there in [the master branch](https://github.com/mrparkers/terraform-provider-keycloak/blob/master/docs/resources/realm.md), but not in [the docs](https://mrparkers.github.io/terraform-provider-keycloak/resources/keycloak_realm/)

[2020-08-26 19:43] mrparkers commented on #359
Closed via #369

[2020-08-26 19:43] #359 closed

[2020-08-27 00:10] mrparkers commented on #313
Update - the pre-release tag `v2.0.0-rc.0` has been published to the Terraform Registry: https://registry.terraform.io/providers/mrparkers/keycloak/latest/docs

You can try it out with Terraform 0.13 using the `terraform` block:

[code]

The stable version (`v2.0.0`) along with changelog notes will be published some time next week, after I've had some time to use it and test it out personally.

No

[2020-08-27 05:07] svenstaro commented on #313
Ok, this works great for me. I first had to change the provider in my state because otherwise, Terraform would be unhappy because it couldn't get the implicit `-/keycloak` (which is the automatic legacy name) to map to `mrparkers/keycloak`.
So doing

    terraform state replace-provider registry.terraform.io/-/keycloak mrparkers/keycloak

and then

    terraform init

works absolutely fine and res

[2020-08-27 14:31] mrparkers commented on #370
Hi @Kinrany, thanks for the issue.  This is available in the new docs located here: https://registry.terraform.io/providers/mrparkers/keycloak/latest/docs/resources/realm#registration_flow

Once I cut a release next week, all of the links will be updated to the new docs.

[2020-08-27 14:31] #370 closed

[2020-08-31 14:52] cthiebault commented on #313
I've followed previous steps...

Running `terraform providers` returns:
[code]

But when running `terraform init`, I get:
[code]

Any idea?

[2020-08-31 17:14] svenstaro commented on #313
@cthiebault did you do the `provider-replace` thing I mentioned in my post? You should replace `registry.terraform.io/hashicorp/keycloak` with `mrparkers/keycloak`.

[2020-09-01 09:56] jankosz opened #375 "Keycloak provider tries to initialize without waiting for dependent resources"
Hi,

In our project keycloak instance is provisioned by terraform.
At that time a random admin password is created.
I want to use this password to initialize mrparkers/keycloak provider.

Here is simplified config we are using:
`provider "keycloak" {
  client_id     = "admin-cli"
  username      = "admin"
  password      = random_password.password.result

  initial_login            = false
  tls_i

[2020-09-02 05:36] dmeyerholt commented on #375
You can only use input variables inside provider configuration. Workaround would be multistage states. First provision keycloak and using a second terraform state can use that provisioning state as input. See [Here](https://www.terraform.io/docs/providers/terraform/d/remote_state.html)

[2020-09-02 12:59] pascal-hofmann commented on #313
@cthiebault
Try with this instead:
```terraform state replace-provider registry.terraform.io/-/keycloak mrparkers/keycloak```

[2020-09-02 13:03] cthiebault commented on #313
@pascal-hofmann same response:
[code]

[2020-09-02 13:08] pascal-hofmann commented on #313
Ah. Now I spotted the issue:

[code]

This module still wants to have `hashicorp/keycloak`

[2020-09-02 13:31] cthiebault commented on #313
@pascal-hofmann and how can I replace module's providers?

[2020-09-02 14:38] mrparkers commented on #375
Yeah, this unfortunately isn't something you can do in a single run of `terraform apply`.  Provider initialization will always happen first, and if the `random_password` resource doesn't exist by then, the `password` attribute for the provider will be an empty string, so all Keycloak API calls will be guaranteed to fail anyways.

I actually do something similar in the environment I run Keycloak in

[2020-09-02 14:44] pascal-hofmann commented on #313
AFAIK the module itself must be changed. You must add the following there too:
[code]

[2020-09-02 23:03] lawrenceong commented on #322
There is a separate problem to it.  Manually setting offline session max limited toggle to enabled and running against the realm will toggle it back to false if there is a change to the realm config.

[2020-09-03 07:01] cthiebault commented on #313
It works now :-)
I didn't we had to configure `required_providers` for modules...

Thanks for your help @pascal-hofmann !!

[2020-09-03 07:29] cthiebault opened #378 "Error: unsupported attribute "federated_identities""
- Keycloak 8.0.2
- Terraform 0.13.0
- registry.terraform.io/mrparkers/keycloak v2.0.0-rc.0

After upgrading Terraform & providers, running `terraform plan` returns
`Error: unsupported attribute "federated_identities"`.

It was working with Terraform 0.12 & Keycloak provider 1.18.

Log with trace enabled shows:
[code]

[2020-09-03 10:05] lathspell commented on #238
This issue can probably be closed as you merged https://github.com/mrparkers/terraform-provider-keycloak/pull/282 in June?

[2020-09-03 15:08] mrparkers commented on #378
This is one of the "breaking" changes that I haven't gotten the chance to document yet since I haven't released v2.0.0 yet.  This used to be a property on `keycloak_openid_client_service_account_user` data source, but the provider code was trying to set an attribute called `federated_identity` instead (since this is what the attribute is called for the `keycloak_user` resource).

So this isn't a h

[2020-09-03 15:11] mrparkers commented on #238
You're correct, thanks for helping me clean up :smile:

[2020-09-03 15:11] #238 closed

[2020-09-04 09:31] lathspell commented on #268
Maybe add a "keep_default_user_attribute_mapper=true" attribute to the "keycloak_ldap_user_federation" resource.
If explicitly set to "false", all automatically created "user_attribute_mapper" objects will be queried and deleted after the "keycloak_ldap_user_federation" resource has been created.

[2020-09-07 08:25] cthiebault commented on #378
Thanks for your help!

Here is my `keycloak_openid_client_service_account_user` usage:
[code]

I don't use `federated_identity` property...

[2020-09-07 11:39] thomasdarimont opened #381 "Check for dependend URLs (web_origins, admin_url) is too strict if root-url is set for a client"
Keycloak allows to use relative URLs for web_origins, admin_url and redirect_uri of a client that are resolved against a given root_url.
The current implementation of terraform-keycloak requires that web_origins and admin_url are configured if a root_url is used, however Keycloak does not require it and there are scenarios where a client does not provide support for a admin_url endpoint or web_ori

[2020-09-08 23:21] hamiltont opened #382 "Add keycloak_openid_generic_mapper to support custom identity mappers"
Currently custom identity broker mappings cannot be configured through this project.

By adding a generic option, similar to the `keycloak_generic_client_protocol_mapper`, we could allow for custom mappers to be configured & managed through this provider

For context, the runtime (non-compiled) configuration is based on the [ProviderConfigProperty](https://github.com/keycloak/keycloak/blob/master/

[2020-09-09 19:31] hamiltont commented on #382
FYI - Added a $200 bounty [over on bountysource](https://www.bountysource.com/issues/92864362-add-keycloak_openid_generic_mapper-to-support-custom-identity-mappers) because I could use this feature but sadly don't have time right now to implement it myself

[2020-09-09 19:47] tomrutsaert commented on #382
If i am understanding it correctly, I think it already exists

https://mrparkers.github.io/terraform-provider-keycloak/resources/keycloak_attribute_importer_identity_provider_mapper/

Have fun, keep the money,
Reinvest into the project when you have some more time.

Let me know if that is not what you are searching for

[2020-09-09 21:19] hamiltont commented on #382
@tomrutsaert thanks for the reply! As far as I can tell, that's not the same thing. The "Attribute Importer" is one specific type of Identity Provider Mapper in KeyCloak. There are 4-5 of these predefined ones. Note the confusing terminology of "Identity Provider Mappers" (these are distinct from the more common "Client Mappers") in KeyCloak. To see the list of builtin ones, on any KC realm, navig

[2020-09-10 06:05] tomrutsaert commented on #382
You are right,
You need a small extension on top of the `generic_keycloak_identity_provider_mapper`, that allows to set the `IdentityProviderMapper` field. The code would not be so different as the code of `keycloak_attribute_importer_identity_provider_mapper`.
Also imho it should support more then just oidc and saml identityProviders.
It should not be too hard to do, But I do not have the time ri

[2020-09-11 10:53] sj14 opened #384 "Setting resource IDs manually"
Hello everyone,

is it possible to set ID's, e.g. for the users, manually? In the Keycloak API for the [UserRepresentation](https://www.keycloak.org/docs-api/10.0/rest-api/index.html#_userrepresentation), the ID is an optional field.

When I try setting it in the `keycloak_user` resource manually, I get the following error:

[code]

I had a first look into the source code. Unfortunately, adding `i

[2020-09-11 11:03] tomrutsaert commented on #384
As Far as I know, You can not create a user with an id, The id will always be something else. Keycloak ignores the id field and creates a new id.
Needs to verified, I could be wrong.
Did you test if you can do a curl call with the id filled in? And check if the user was really created with that id?

[2020-09-11 11:20] sj14 commented on #384
Yes, look like you are right. I can send a specific id using curl and the user is successfully created but the specific id is ignored and a new one from Keycloak itself is used.

Thanks for your help 👍

[2020-09-11 11:20] #384 closed

[2020-09-11 14:44] mrparkers commented on #384
I think Keycloak allows you to use your own ID when creating realms (the provider does this instead of letting Keycloak auto generate it).  But I believe that this is the only resource that allows this.

[2020-09-16 18:46] kajogo777 opened #386 "keycloak_openid_client.authorization missing decision_strategy field"
Openid client resource missing decision_strategy field in authorization stanza

[2020-09-17 04:41] slavko-vega opened #387 "[Clients] - Add attributes"
Hi  @mrparkers,

we noticed that Clients are missing attributes, which are needed by our project. Currently the Attributes, as they are implemented, are limited to a subset of Client's properties which are used by Keycloak. What we actually need is possibility to add our custom attributes as it's possible for other resources.

Haven't seen that the issue is reported yet.  I'd like to contribute on

[2020-09-17 14:15] DOboznyi commented on #313
@mrparkers will you create a release 2.0.0?

[2020-09-17 18:36] #355 closed

[2020-09-18 14:49] #354 closed

[2020-09-18 14:51] #322 closed

[2020-09-20 22:59] mrparkers commented on #313
v2.0.0 has been published, thanks for your patience everyone!

[2020-09-20 22:59] #313 closed

[2020-09-21 14:36] mrparkers commented on #55
Closed via #376.

[2020-09-21 14:36] #55 closed

[2020-09-21 14:36] #112 closed

[2020-09-21 14:39] mrparkers commented on #239
Closed via #304.

[2020-09-21 14:39] #239 closed

[2020-09-21 14:40] mrparkers commented on #108
Closed via #264.

[2020-09-21 14:40] #108 closed

[2020-09-21 14:44] mrparkers commented on #387
Hey @slavko-vega, that sounds great! I'd definitely accept a PR that adds an `attributes` argument to the `keycloak_openid_client` and/or `keycloak_saml_client` resources.

[2020-09-21 14:46] mrparkers commented on #386
@tomrutsaert do you know if this is covered by any of the authorization policy resources?

[2020-09-21 14:46] mrparkers commented on #378
Hey @cthiebault, can you give v2.0.0 a try and see if this issue is resolved?

[2020-09-21 14:57] #276 closed

[2020-09-21 19:48] #152 closed

[2020-09-22 09:35] cthiebault commented on #378
It works now!
Thanks for your great work @mrparkers !!

[2020-09-22 09:35] #378 closed

[2020-09-25 11:02] ansidorov opened #388 "keycloak_realm error with unrecognized field"
Hi.

I run this scenario:
[code]

On Keycloak image: `jboss/keycloak:8.0.2` and got error:
[code]

In Debug this request looks like:
[code]

Versions:
terraform: **v0.13.2**
terraform-provider-keycloak: **v2.0.0**
keycloak version: **jboss/keycloak:8.0.2**

Do we know how this problem can be solved?

[2020-09-25 11:11] tomrutsaert commented on #388
Keycloak 8.0.2 is not a supported version anymore, I assume keycloak 8.0.2 does not know the field webAuthnPolicyPasswordlessAcceptableAaguids, as stated in your debug log.

To solve the problem, upgrade keycloak, or use an older version of this provider.

[2020-09-25 12:58] ansidorov commented on #388
Thx. Version 1.20.0 works well with keycloak 8.0.2

[2020-09-25 12:58] #388 closed

[2020-09-25 14:27] sandhose opened #390 "SAML identity provider "Principal Type""
The SAML identity providers have a "Principal Type" and "Principal Attribute" (when the Principal Type is not NameID) that can't be set in the `saml_identity_provider` resource right now

The two fields seems to be named `principalType` and `principalAttribute`.
The values in the UI seems to be `string:SUBJECT`, `string:ATTRIBUTE` and `string:FRIENDLY_ATTRIBUTE` for the type and an arbitrary strin

[2020-09-25 17:45] slavko-vega commented on #387
Hey @mrparkers I'm glad to contribute on this issue and PR is prepared.

[2020-09-27 00:34] BytewaveMLP commented on #289
Looks like this was closed in #374?

[2020-09-27 04:37] amfl commented on #289
Yep :)

[2020-09-27 04:37] #289 closed

[2020-10-04 20:59] ichasco opened #393 "Error getting provider descriptor"
I have set this in terraform:

[code]

And the error is:
[code]

Versions:
[code]
Thanks!

[2020-10-05 14:25] steinheber opened #394 "Support for configuring authentication OTP policy"
Hi,

i have not come across means to change the "OTP Policy" in the authentication section of keycloak.
Default provided is SHA1 but would like to configure SHA256 for my terraform provided realms.

[2020-10-06 13:15] Noann35 opened #395 "Problem with the declaration of a module during "terraform init""
Hello everyone,

I created a Docker image integrating the keycloak provider 2.0.0.
I declare my resources (realm, client ...).
Everything is OK, "terraform init" is successful :

Below is the configuration file "poc-terraform-keycloak/main.tf" without the "provision" module :
![image](https://user-images.githubusercontent.com/14089741/95205716-0d2f2c80-07e6-11eb-9b20-c825e8d784cd.png)

Below is th

[2020-10-06 14:45] mrparkers commented on #395
In order to use third party providers within a module, the same `terraform.required_providers` block that you included in your root `main.tf` file must also be present within the module configuration.  I'm not a fan of this behavior, since official providers don't make you do this, but there's nothing I can do about it unfortunately.

See https://github.com/hashicorp/terraform/issues/25984 for mor

[2020-10-06 15:40] mechastorm commented on #273
Thank you @ryanmac8 ! That worked as intended.

As such this issue can be closed as the need for a dedicated resource just for SAML Role Name Mapper is merely a convenience than a necessity.

My implementation

[code]

In addition if one was to use Keycloak 10.0.2 and above, the support for special characters in role name has been re-enabled again - so the workaround with a role name mapper is no

[2020-10-06 15:40] #273 closed

[2020-10-06 16:33] Noann35 commented on #395
@mrparkers
A big thank you for this release, it works wonderfully.
I was aware of the recent provisioning via the Hashicorp registry, but unfortunately I cannot use an external registry.

[2020-10-08 17:11] rymir commented on #395
@mrparkers I'm not getting the reason why this behaviour isn't just an "opt-in" though, overriding the non-default 3rd party providers in the root child modules whenever there's a need to do so and otherwise going forward with the source/version declared in the root?

In our case, we have hundreds of terraform states and hundreds of terraform modules. Explicitly configuring the defaults throughout

[2020-10-09 17:55] ewillia1983 opened #396 "JWT credentials"
I believe this is a feature request.  I've got an openid client configured, but I don't see a way to set up JWT credentials.

[code]

This screenshot shows the setting I'm looking for on the UI.

![Screenshot from 2020-10-09 13-33-25](https://user-images.githubusercontent.com/31934733/95615451-3e9e3700-0a36-11eb-964c-235b8e8c8a2e.png)

I looked at the `keycloak_oidc_identity_provider`, but that ha

[2020-10-12 14:23] mrparkers commented on #395
@rymir yeah, I agree with you.  I also wish there was a way for modules to inherit provider versions from the root.  Unfortunately, there's nothing I can do within this provider to change that.  This behavior would have to be changed in Terraform core.

I'm gonna go ahead and close this issue since it appears that the original problem was resolved.  Thanks for the discussion everyone!

[2020-10-12 14:23] #395 closed

[2020-10-19 21:08] AsheAustaire commented on #313
Can you please elaborate?

[2020-10-20 11:45] jhinzmann opened #398 "resource_keycloak_openid_client_authorization_permission missing resource_type field"
Currently the provider for `resource_keycloak_openid_client_authorization_permission` accepts a list of resources and/or scopes.
Besides the list of specific resources or scopes, the Keycloak UI allows to create a resource based permission that is applied to all resources of a specific type.

The corresponding payload for creating a permission for all resources of type `test-resource-type` looks l

[2020-10-20 20:01] semangard opened #399 "Simple terraform import keycloak_realm ==> Error: rpc error: code = Unavailable desc = transport is closing"
Hello,

I am testing your KeyCloak provider into the following conditions ::

- windows 10
- runing docker into Windows Linux subsystem (WSL2)
- keycloak is launched as a docker
- terraform is launched also as a docker ::
_docker run -d -it --network host --env-file tf-env -v $(pwd):/workdir -w /workdir --entrypoint "/usr/bin/tail" --name terraform hashicorp/terraform:light -f "/dev/null"
docker e

[2020-10-20 20:32] semangard commented on #399
Please note that into the terraform container I amable to get connected to KeyCloak ::
/workdir # wget http://localhost:8080
Connecting to localhost:8080 ([::1]:8080)
saving to 'index.html'
index.html           100% |**************

[2020-10-20 20:48] semangard commented on #399
If I do not run terraform inside a docker container it works.....

So why it does not work inside terraform container ?

[2020-10-20 21:07] semangard commented on #399
One more strange thing ::

## DOES NOT WORK
# docker run -d -it --network host --env-file tf-env -v $(pwd):/workdir -w /workdir --entrypoint "/usr/bin/tail" --name terraform hashicorp/terraform:light -f "/dev/null"
# docker exec -it terraform sh

## WORKS.....
docker run -d -it --network host -v $(pwd):/workdir -w /workdir --entrypoint "/usr/bin/tail" --name terraform hashicorp/terraform:light -f

[2020-10-21 11:47] semangard opened #401 "[Doc] Warn how to use the provider into modules"
Hello,

On the introduction page : https://github.com/mrparkers/terraform-provider-keycloak

You should warn that the provider as to be declared also into each terraform module using it

[2020-10-21 15:17] semangard opened #402 "[Doc] Missing realm settings"
Some settings of the realm are not explain into the provider doc, for ex :

      + sso_session_idle_timeout_remember_me     = (known after apply)
      + sso_session_max_lifespan_remember_me     = (known after apply)

=> We only know they exist while executing TF and see "(known after apply)"

[2020-10-22 11:01] semangard opened #403 "[openid_user_client_role_protocol_mapper] does not work for particular client (client_id_for_role_mappings)"
Hello,

I have the following piece of code :

resource "keycloak_openid_user_client_role_protocol_mapper" "D_to_A_api1_client__user_A_api_1_roles_mapper" {
  realm_id  = module.collaborator_realm.id
  client_id = module.D_to_A_api1_client.id

  name = "A_api_1 User Roles"

  roles of each client stored separately.
  claim_name = "resource_access.a_api1.roles"
  client_id_for_role_mappings = module

[2020-10-22 11:16] tomrutsaert commented on #403
Documentation is wrong:

Should be client_id instead of id

Try:

client_id_for_role_mappings = module.A_api1_client.client_id

When in doubt always also check the examples in:
https://github.com/mrparkers/terraform-provider-keycloak/tree/master/example

[2020-10-22 11:17] tomrutsaert commented on #403
I am happy to merge quickly any PR improving the docs.

[2020-10-22 11:20] semangard commented on #403
OK thanks it works now.

[2020-10-22 11:29] semangard opened #404 "[openid_user_client_role_protocol_mapper] how to use the syntax ${client_id}"
Hello,

The tooltip into KeyCloak UI says for _openid_user_client_role_protocol_mapper_

    # Name of the claim to insert into the token. This can be a fully qualified name like 'address.street'.
    # In this case, a nested json object will be created. To prevent nesting and use dot literally, escape the dot with backslash (\.).
    # The special token ${client_id} can be used and this will be r

[2020-10-22 11:36] tomrutsaert commented on #404
Try:

  claim_name = "resource_access.$${client_id}.roles"

This is not a bug in this provider.
This escaping info can be found in terraform documentation
https://www.terraform.io/docs/configuration-0-11/interpolation.html

[2020-10-22 11:36] #404 closed

[2020-10-22 11:40] semangard commented on #404
OK sorry, my blame. It works.

[2020-10-22 11:42] tomrutsaert commented on #404
No worries, It is a hard one to find in the docs tbh.

[2020-10-22 12:32] semangard opened #405 "[doc] keycloak_ldap_user_federation : doc and example with mistakes"
Hello,

https://registry.terraform.io/providers/mrparkers/keycloak/latest/docs/resources/ldap_user_federation

a) into the example _keytab_ has to be replaced by _key_tab_

b) _eviction_day_ is indicated twice.... the last should be replaced by _eviction_minute_

[2020-10-22 13:00] semangard opened #406 "[doc] keycloak_ldap_user_federation : give an example for Active Directory"
Hello,

As far as Active Directory is quite common,  it could be interesting to give an example like the following ::

[code]

[2020-10-22 17:10] mrparkers commented on #403
Good catch with the docs @tomrutsaert.  I really hate the discrepancy between `client.id` (the unique ID of the client in Keycloak) and `client_id` (the "client id" used within the various OIDC flows).  This is a good example of how easy it is to mix the two up.

[2020-10-23 11:41] semangard opened #407 "[user] TF state does not reflect KC state when user creation fails due to a password policy"
Step 1) Create a user which does not suit password policy => TF failure
[code]

Step 2) Retry with the same password => It fails but because the user was created by step 1 but not reflected into TF state

[code]

And indeed the user is available into the console ::

![image](https://user-images.githubusercontent.com/57065741/96999402-63fe6b00-1535-11eb-9010-bb06ce1e822d.png)

[2020-10-23 15:06] mrparkers commented on #399
A couple of things I noticed here:

1) The error is being caused by a nil pointer dereference [here](https://github.com/mrparkers/terraform-provider-keycloak/blob/ba25fb0d2e25f163784610aa28dd646386b8a322/keycloak/keycloak_client.go#L120), which is most likely due to not handling the potential error that can be thrown on the previous line.  I opened #408 to fix this.
2) The debug logs for your logi

[2020-10-23 15:12] mrparkers commented on #393
Hey @ichasco - I believe this option was removed from Keycloak at some point: https://issues.redhat.com/browse/KEYCLOAK-9396.  Now, the only way to retrieve the SAML IDP descriptor is from this URL: `${KEYCLOAK_HOST}/auth/realms/${REALM}/protocol/saml/descriptor`.

I do think we could use a new data source that can retrieve this for you automatically though.

Let me know if that's an acceptable so

[2020-10-23 15:14] mrparkers commented on #406
Is this the config you're using for active directory?  If so, feel free to open a PR to the docs to add this example.  I personally don't have access to an AD server to mess around with it.

[2020-10-23 15:14] mrparkers commented on #407
Good catch - yes, this resource should be using partial state to track that the user was created, but the password was not successfully updated.

[2020-10-23 15:17] semangard commented on #399
Hummmm

In fact env variables were inject into the TF container thanks to _--env-file tf-env_

And you were right the values were quoted :
KEYCLOAK_URL="http://localhost:8080"
KEYCLOAK_CLIENT_ID="terraform"
KEYCLOAK_CLIENT_SECRET="198a957e-b7ac-405a-b0c8-b9f8750be641"

It is better if I remove the quotes

[2020-10-23 15:20] semangard commented on #406
Yes it is.

[2020-10-23 15:24] mrparkers commented on #399
So it's working now that those quotes were removed?

[2020-10-23 15:25] semangard commented on #399
Yes, it is.

[2020-10-23 15:26] mrparkers commented on #406
Cool, well if you want, you can open a PR to add this example by modifying this file: https://github.com/mrparkers/terraform-provider-keycloak/blob/master/docs/resources/ldap_user_federation.md

If you'd rather not, I can leave this issue open and get back to it when I have some free time.

[2020-10-23 15:27] semangard commented on #406
ok, maybe later

[2020-10-23 15:35] ichasco commented on #393
Hi!
It would be perfect. I have used this work around:

[code]
Thanks!

[2020-10-23 15:47] mrparkers commented on #399
Perfect.  I'll go ahead and close this then.

[2020-10-23 15:47] #399 closed

[2020-10-23 15:50] mleneveut opened #410 "[feature request] Add a "Username template importer" mapper for Identity provider"
Hi,

I'd like to terraform the creation of the identity provider, but I can't figure out how to create a mapper type "Username Template Importer" for an identity provider.

![image](https://user-images.githubusercontent.com/3854415/97025228-10e9df80-1558-11eb-888a-38dabbf18325.png)

I found this one for the Attribute Importer : https://mrparkers.github.io/terraform-provider-keycloak/resources/keyc

[2020-10-24 04:55] semangard opened #411 "[auth flow] allowed "authenticator" values should have doc"
Hello,

I tried to create an authentication flow for Kerberos with (the browser flow simplified and adapted) :

[code]

terraform plan is OK

BUT while applying I got the errors ::

[code]

==> Values of authenticator should be documented to ease their use

Please note that _cookie_ and _kerberos_ are the names displayed into the console.

In one of the example you use _auth-cookie_ , so fine I re

[2020-10-24 05:01] semangard commented on #411
OK, on
https://registry.terraform.io/providers/mrparkers/keycloak/latest/docs/resources/authentication_execution
it is said

_"The name of the authenticator. This can be found by experimenting with the GUI and looking at HTTP requests within the network tab of your browser's development tools."_

[2020-10-24 05:20] semangard opened #412 "[auth flow] lack of prority on keycloak_authentication_execution despite available into JSON export"
Hello,

When exporting a realm JSON, there is a priority for a _keycloak_authentication_execution_

![image](https://user-images.githubusercontent.com/57065741/97068590-26e3b880-15c9-11eb-8b33-524ed630aeb7.png)

Could you please add it to https://registry.terraform.io/providers/mrparkers/keycloak/latest/docs/resources/authentication_execution

PS: I do not see the added value of the _depends_on_

[2020-10-24 05:20] semangard commented on #412
I we try to add it we get the error ::

[code]

[2020-10-24 05:27] semangard commented on #412
It is created like that ::

![image](https://user-images.githubusercontent.com/57065741/97068699-4d562380-15ca-11eb-89a0-5179cf59a09a.png)

[2020-10-24 10:55] tomrutsaert commented on #412
Yeah, That is not how the admin api works. There is only a 'Lower Priority' and 'Raise Priority' rest endpoint.
And there is no way to set the priority directly.
see: https://www.keycloak.org/docs-api/11.0/rest-api/index.html#_authentication_management_resource
There have been many discusions about this in the past and this is just the pragmatic solution for the time I had available.
I am always o

[2020-10-24 10:55] #412 closed

[2020-10-24 13:01] semangard opened #413 "[auth flow] keycloak_authentication_execution_config : failure when the config key is not quoted => improve doc to avoid mistakes"
Hello,

a) This does not work ::
![image](https://user-images.githubusercontent.com/57065741/97082392-a0030000-1609-11eb-8034-989880e7f370.png)

We go the error ::

[code]

b) This works ::

![image](https://user-images.githubusercontent.com/57065741/97082385-8c579980-1609-11eb-9b5e-2bb1765c08cf.png)

==> The examples given at
https://registry.terraform.io/providers/mrparkers/keycloak/latest/docs/

[2020-10-24 16:10] semangard opened #414 "[auth flow] cyclic dependency with a realm => how to fix it simply ? need a dedicated resource ?"
Hello,

I do not see how to create with the same TF state :
- an auth flow
- and a realm using this auth flow

The auth flow expects a _realm_id_ and the realm expects the _flow_id_ ....

The example https://github.com/mrparkers/terraform-provider-keycloak/blob/master/example/main.tf does not give such example, the ony example is where an auth flow is assigned to a client... not a realm

What abou

[2020-10-24 18:36] tomrutsaert commented on #414
Yes, it is a missing feature.
In current situation you need to do it in 2 steps
1) create realm
2) create flow and use a plain text reference to the flow on the realm

And Yes, the solution would be that the flow bindings on a realm are a separate tf resource.
This has alreday been discussed somewhere in some other ticket as well.
Please feel free to create a PR.

[2020-10-24 18:47] tomrutsaert commented on #413
Not really a bug of the this provider, is it.
you are referening a dynamic config variable that has dots in its name.
AFAIK I know dots do not work anywhere in a variable name in tf config, because terraform interprets the dots and therefore you have use double quotes around them.
The examples in documentation and main.tf do not use a config variable name with dots ( _defaultProvider_ ) and thus a

[2020-10-24 18:57] #413 closed

[2020-10-25 16:59] bruno-delfino1995 commented on #414
This problem was mentioned [in this issue](https://github.com/mrparkers/terraform-provider-keycloak/issues/298). I've developed a separate resource but haven't had the time to submit the PR with tests and stuff. Meanwhile, you can either use the workaround provided in the ticket or do the job I didn't and submit the PR.

[2020-10-27 19:11] semangard opened #416 "KeyCloak authorization service : officialy released or not ?"
Hello,

There isn't any doc on https://registry.terraform.io/providers/mrparkers/keycloak/latest/docs
about KeyCloak Authorization Services
despite resources seems to be available with some few examples

==> Is that officially released or not ?
What is the coverage of these resources compared to all KC features ?
When do you plan to publish the doc ?

Regards

[2020-10-28 01:07] nicholasmhughes commented on #393
FWIW, I used the http provider to a similar effect.

[code]

[2020-10-29 09:28] semangard opened #417 "[authz] keep_defaults works partially only at the 1st apply"
Hello,

a) If I create a new client with _keep_defaults_ to _false_
then only the default resource is not created;
the default policy and permission are still created.
=> Is that expected ?

b) On an existing client  : when I switch _keep_defaults_ to _false_ :
[code]
Then existing defaults are not removed.
=> Is that expected ?

![image](https://user-images.githubusercontent.com/57065741/97548706

[2020-10-29 10:40] semangard commented on #386
I have created the policy ::

![image](https://user-images.githubusercontent.com/57065741/97557408-06599b00-19db-11eb-8877-68f8e633d878.png)

BUT I had to set :
![image](https://user-images.githubusercontent.com/57065741/97557455-16717a80-19db-11eb-87f2-166e73d24c35.png)

Otherwise I got the exception ::

![image](https://user-images.githubusercontent.com/57065741/97557715-6b14f580-19db-11eb-9b5d-

[2020-10-29 12:57] semangard opened #418 "[authz] time policy : unable to set some hours"
hello,

When I try to do the following change:

![image](https://user-images.githubusercontent.com/57065741/97576429-71f93380-19ee-11eb-9f75-65a2f081565e.png)

I got the TF error :
![image](https://user-images.githubusercontent.com/57065741/97576477-83dad680-19ee-11eb-825a-371b4da1cdd4.png)

Which is related to the following erreor raised by KC :
![image](https://user-images.githubusercontent.com/

[2020-10-29 13:12] semangard commented on #418
I got the same issue if I try to create more simply the following policy whereas it is possible through KC UI ::

![image](https://user-images.githubusercontent.com/57065741/97578182-bc7baf80-19f0-11eb-9aee-f1c59a8a63bd.png)

[2020-10-29 13:25] semangard opened #419 "[authz] destroy does not work when scope was associated to resources"
Hello,

a TF destroy raises the following error :
[code]

[2020-10-29 13:28] semangard commented on #419
Workarround was to execute F destroy twice.

[2020-10-29 13:41] semangard commented on #386
The only case where a decision strategy is available at the policy level is for an aggregate policy ::

![image](https://user-images.githubusercontent.com/57065741/97581367-c56e8000-19f4-11eb-89c3-0ab0e98e2f66.png)

[2020-10-29 15:14] semangard opened #420 "[authz] unable to create a scope-based permission"
Hello,

I used the following code :

![image](https://user-images.githubusercontent.com/57065741/97593021-8f83c880-1a01-11eb-8391-1b3820fd56a8.png)

And here is what I got into KC console :

![image](https://user-images.githubusercontent.com/57065741/97593181-b5a96880-1a01-11eb-847f-e0a33379c680.png)

The permission is resource-based despite having declared a scope into the TF code.

How to make i

[2020-10-29 15:18] semangard opened #421 "[authz] unable to create a resource-based permission, based on a resource type"
Hello,

I tried to create a resource-based permission, based on a resource type with the following code :

![image](https://user-images.githubusercontent.com/57065741/97593550-146ee200-1a02-11eb-9570-2e92497274ce.png)

And I got the error :
![image](https://user-images.githubusercontent.com/57065741/97593751-454f1700-1a02-11eb-98ac-15b7aee9dedf.png)

Why is-it talking about a resource scope ?

[2020-10-30 15:52] mrparkers commented on #416
You're right, a lot of the authz features that are implemented within this provider are missing documentation.  You can look here for a basic example of what exists and how to use it: https://github.com/mrparkers/terraform-provider-keycloak/blob/master/example/client_authorization_policys.tf

I've tried to backfill missing docs when I've had time, but I've never actually used the authz features of

[2020-10-30 16:03] mrparkers commented on #417
Probably not.  What we're actually doing is deleting the resource after the client is created.  So if there are additional default resources that need to be cleaned up, the provider should probably handle that as well.

I think so.  We probably only want to respect `authorization.keep_defaults` when clients are created. I think it's dangerous for an update to this attribute to delete other resourc

[2020-10-30 16:04] mrparkers commented on #419
Could you provide me with some sample HCL that reproduces this?

[2020-10-31 16:18] semangard opened #422 "[authz] missing owner property of a resource (in order to set to ON owner_managed_access)"
Hello,

On https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/resource_keycloak_openid_client_authorization_resource.go

the property _owner_managed_access_ can be set to ON
but it is interesting only if also the _owner_ property can be defined....

KC reference :: https://github.com/keycloak/keycloak-documentation/blob/master/authorization_services/topics/service-protec

[2020-11-02 20:46] semangard opened #423 "[ldap - ad] missing mappers ? what's the roadmap ?"
Hello,

It seems there are some missing mappers on the LDAP-AD user storage federation (cf. screenshot below).

Especially the **ldap-role-mapper** is really missing.
Do you plan to implement this quite soon  ?

![image](https://user-images.githubusercontent.com/57065741/97917394-b3724180-1d54-11eb-8e09-d710fe26ffda.png)

[2020-11-03 10:44] thomasdarimont opened #424 "Local development environment fails to start"
Keycloak fails to start when running the local Keycloak development environment for the terraform-provider-keycloak,
due to a `NullPointerException`.

Steps to reproduce:

Run in terminal 1
1) `make user-federation-example`
2) `make local`
Run in terminal 2
3) `docker-compose logs -f`

Output:
[code]

Currently Keycloak is configured with this volume mapping to expose the custom-user-federation fo

[2020-11-03 10:55] thomasdarimont commented on #424
In addition to the provided fix, I could also upgrade the local Keycloak version to 11.0.2.

This requires to add an additional method `createConfig` in the `CustomIdentityProviderFactory` class and upgrading the version to Keycloak 11.0.2.

I'll send a separate PR for this once this gets merged.

[2020-11-03 17:57] mrparkers commented on #424
Hey @thomasdarimont, thanks for issue.  The information you're providing here is very helpful.

For some context, I originally wrote the example custom user federation provider back when I was running Keycloak 4.8.3.Final in order to test the `keycloak_custom_user_federation` resource.  I haven't really kept it up to date since then, as the current Keycloak environment that I maintain doesn't use

[2020-11-04 10:11] max-pfeiffer opened #427 "Doc/Question: master realm and realm updates?"
I am wondering how the provider deals with master realm and updates to this realm (or other user created realms): when we initially install Keycloak the master realm becomes autogenerated with this new installation.

So if we use `keycloak_realm` resource with `realm = "master"` will this actually just alter the already created master realm or recreate new from scratch?

Not so clear to us when ru

[2020-11-04 10:48] tomrutsaert commented on #427
You have to import the state of the existing master realm first.
You can do that by adding `resource "keycloak_realm" "master" {}` in your tf config.
And then running the following command: `terraform import keycloak_realm.master master`

This is also stated for each resource at the end of the resource documentation page:
For realms: https://registry.terraform.io/providers/mrparkers/keycloak/lates

[2020-11-04 12:48] semangard opened #428 "[idp - oidc] missing features"
Hello,

Here are some missing features on the OIDC IdP (available on KC UI but not with the provider).

Maybe the highest priority is the 'issuer" property as it strengthen security

![image](https://user-images.githubusercontent.com/57065741/98113509-0d355180-1ea4-11eb-8dee-33b7bbf6c4ec.png)

![image](https://user-images.githubusercontent.com/57065741/98113564-2807c600-1ea4-11eb-88b2-56c7d04245c4

[2020-11-04 13:14] tomrutsaert commented on #428
Not a perfect workaround, but any missing property can be set via the extra_config object.
You need to look at the keycloak rest admin api docs or in the browser when saving the config for the name/key of the property and use that name/key in the extra_config object. Which will pass it towards keycloak.

This is also mentioned in the docs:
https://registry.terraform.io/providers/mrparkers/keycloak

[2020-11-04 15:09] semangard commented on #428
a) Ok thanks for your feedback, I am going to test it and tell you if I face troubles

b) BTW it seems that the 'Sync mode' is now mandatory on the KC UI =>it might be better if the TF provider set it with a default value

![image](https://user-images.githubusercontent.com/57065741/98127994-a28e1100-1eb7-11eb-88ed-d61242955e72.png)

[2020-11-04 16:21] tomrutsaert commented on #428
Yes I agree, But someone has to write the code.
I do not have the time myself, but I or mrparkers is happy to review and merge any pull request for this

[2020-11-04 16:32] CalamarBicefalo opened #429 "Advanced claim to role mapper for IDPs"
If I try to provision an advanced claim to role mapper, there's some funny business going on with the claims and I cannot set the appropriate values/regex.

After successfully importing and planning I get this from a valid Advanced Claim to role Mapper from the server:

[code]

Are advanced claims/role mappers supported at all? If so what's the syntax?

[2020-11-04 16:45] CalamarBicefalo commented on #410
Maybe related to https://github.com/mrparkers/terraform-provider-keycloak/issues/429

Similar issue with the advanced claim to role mapper

[2020-11-04 17:53] semangard opened #430 "Module dependency not updated after renamed a module"
Hello,

Into the TF state there is still an old reference to a module which has been renamed ::

![image](https://user-images.githubusercontent.com/57065741/98150302-b6913d00-1ece-11eb-8ba5-1c7262fd4ce4.png)

Here is the new reference ::
(please not that this is on a client and old references are still on objects related to that client : mappers, roles...)

![image](https://user-images.githubuserc

[2020-11-04 17:58] semangard commented on #430
If I comment the reference , nothing changes, none old reference is removed

[2020-11-04 18:02] semangard commented on #430
If I destroy the object and rebuild it then I got the good new reference....

[2020-11-04 22:32] semangard opened #431 "[group] changing the parent of a group triggers a destruction/recreation: why not just an update ?"
Hello,

I changed the parent of a group and it triggered a destruction+ recreation; why does it not trigger only an update ?

(If I rename a top group then all its subgroups are then also destroyed and recreated.... which is not always possible in real life)

[2020-11-05 11:17] jcharlytown commented on #427
Hi,

I am facing a similar issue, however somewhat more complicated I think.

I'd like to disable the "security-admin-console" Client on Realms created via terraform. Going through the management console of the master realms, this is basically a single checkbox to uncheck. However, I cannot think of an automated way to perform this via terraform.

The "security-admin-console" client is automatical

[2020-11-05 14:11] pths opened #432 "Inconsistent plan when enabling service account"
Hi,

We ran into the following issue when enabling and assigning roles to the service account of an **existing** openid client in the same execution:
[code]

To reproduce, first apply the following HCL:
[code]

And then:
[code]

Note: the error doesn't occur if client2 and client2_service_account_role are created simultaneously.

[2020-11-05 15:57] mrparkers commented on #431
To my knowledge, there is no Keycloak API that allows you to move one group from one parent to another.  So this isn't an updatable field - the only way to change a group's parent is to delete it and recreate it with the correct parent.  This also doesn't seem to be possible in the GUI either.

This behavior can be changed if you know of a way to update a group's parent using the Keycloak API.

I

[2020-11-05 15:58] mrparkers commented on #430
Module dependencies and how that information is persisted to state is something that terraform core handles, not individual providers.  Sorry, but I don't think there is anything we can do about this.

[2020-11-05 15:58] #430 closed

[2020-11-05 18:41] dmeyerholt commented on #430
In general, when renaming existing resources or modules in a configuration you need to manually move them around in your state using `terraform state mv` to avoid destroying and recreating them. See [here](https://www.terraform.io/docs/commands/state/mv.html)

[2020-11-05 20:55] semangard commented on #431
Thanks for your feedback; here is my example

1) Here is the initial hierarchy ::
![image](https://user-images.githubusercontent.com/57065741/98294978-15c77e00-1fb1-11eb-9445-9cccf1491f6f.png)

with the initial TF code ::

![image](https://user-images.githubusercontent.com/57065741/98295019-2841b780-1fb1-11eb-9521-0d89e67c1dfd.png)

2) Then I make this change
![image](https://user-images.githubuse

[2020-11-05 21:00] mrparkers commented on #431
Right, so what you're doing is changing the parent of one or more group.  To my knowledge, it isn't possible to update a group's parent in Keycloak, via the GUI or the API.  So the `parent_id` attribute is marked as `ForceNew` since the only way to change that is by deleting it and recreating it.

If you were to update the `name` attribute of a group (regardless of whether it is a parent or a chil

[2020-11-05 21:02] semangard commented on #431
Sorry I removed my comments because you were right ;-)
I think I mixed up the two cases: moving vs renaming as far as I tried both nearly at the same period

[2020-11-05 21:05] semangard commented on #431
By the way I know indeed that moving is not possible in the UI.
But wouldn't it be possible with the admin API (update operation on groups) : update the subgroups attribute of the new and old  top group  ?

[2020-11-05 21:23] mrparkers commented on #431
Yeah, the `subGroups` field is returned via `GET /{realm}/groups`, but is ignored via `POST /{realm}/groups` (creating a child is done via `POST /{realm}/groups/{id}/children`), and is also ignored via `PUT /{realm}/groups/{id}` (the API docs call out that subGroups are ignored here).  So it doesn't appear to be updatable.

[2020-11-05 21:25] semangard commented on #431
OK, what a shame, it could have been useful...
Thanks

[2020-11-05 21:44] mrparkers commented on #431
Sorry about that 😅  but perhaps the Keycloak team would be receptive to this change if you open a ticket on their issue tracker: https://issues.redhat.com/projects/KEYCLOAK/issues.  They have been receptive to issues that I've opened here in the past.

[2020-11-05 21:44] #431 closed

[2020-11-05 21:50] semangard commented on #431
OK that's in the box : https://issues.redhat.com/browse/KEYCLOAK-16192

[2020-11-06 05:53] semangard opened #433 "[idp - oidc] missing features"
Hello,

As you did it for the OIDC provider with the block _extra_config_ it might be interesting to do the samefor the SAML provider in order to set for example the _guiOrder_

[2020-11-06 06:05] semangard commented on #433
I think also the two features below are now deprecated:

signature_algorithm - (Optional) Signing Algorithm. Defaults to empty.
xml_sign_key_info_key_name_transformer - (Optional) Sign Key Transformer. Defaults to empty.

[2020-11-06 08:26] semangard opened #434 "[idp - OIDC/SAML] missing mappers, would be nice to extend the use of extra_config with identityProviderMapper"
Hello,

You have the _keycloak_attribute_importer_identity_provider_mapper_.

Would it be possible to get a more generic one by allowing us to overwrite the property _identityProviderMapper_ ?

for example:
[code]

[2020-11-06 10:56] semangard commented on #434
maybe same as #382

[2020-11-06 10:58] max-pfeiffer commented on #427
@tomrutsaert Thanks for your reply. I saw that `terraform import` command in the documentation. But like @jcharlytown it's not clear to me how to use it. Because as he said we would like to manage our Keycloak installation dynamically.

Is it maybe possible to post some example how to do this actually?

We have a very similar use case as @jcharlytown : we would like to add additional security meas

[2020-11-06 11:33] semangard commented on #434
should allow to override of identityProviderMapper.Id ?

[2020-11-09 11:31] AdrienFromToulouse opened #435 "[ldap] - missing groups path in group-ldap-mapper"
Hi there,

it seems that the `group path` property is missing in the ldap group mapper.

Will make a PR to fix that.

<img width="813" alt="Screen Shot 2020-11-09 at 12 46 46" src="https://user-images.githubusercontent.com/1558229/98537623-cc658000-2289-11eb-9669-62ed8f427234.png">

Cheers,

[2020-11-12 12:54] jokarls commented on #435
I would also like to have this feature. I have a parent admin group that I want to connect my AD groups too. That way I can add rolls to the parent group and they will trickle down to my mapped AD groups.

[2020-11-13 13:49] jhinzmann commented on #421
As stated in my issue #398 this provider currently does not support permissions based on resource type

[2020-11-16 10:15] AdrienFromToulouse commented on #435
At the moment I am stuck with the unit tests :(

I cannot yet figure out exactly what I am missing....

[2020-11-20 14:14] pavankumarkatakam opened #439 "support for docker-v2 client"
This package has only oidc and saml client support, but requested to have docker-v2 protocol client support.

[2020-11-22 03:48] pavankumarkatakam commented on #439
Is anybody there

[2020-11-23 09:49] PSanetra opened #440 "Update Go version"
Please update the used Go version to the latest version 1.14.x or 1.15.x as these versions contain a fix for the following issue we have experienced with this provider: https://github.com/golang/go/issues/32441

Symptomes of the issue were sporadic HTTP 400 errors, returned by the nginx-ingress-controller we are using in front of our Keycloak. We are currently disabling HTTP 2 on the nginx-ingress

[2020-11-23 14:19] morksan commented on #427
@max-pfeiffer @jcharlytown

cant provide full fledged working examples, but maybe i can give you the right direction to solve.

As tomrutsaert described, you can import any realm and client with terraform import. Just define terraform keycloak realm resource for the master in your .tf:

[code]

Then run `terraform import keycloak_realm.realm master` in your terminal.  The state will be imported in

[2020-11-24 23:40] splatch opened #442 "Support for automatic generation/import of all realm related resources"
I have realm which have been managed through import/export functionality directly through Keycloak admin panel. While switching to terraform and this provider (thanks for awesome work!) I stubbed upon "verbosity" of realm representation.

Existing "terraform import" syntax seems to be insufficient for such large configuration object such realm and its derivatives (clients, protocols, mappers etc).

[2020-11-26 17:27] Ankitchandre opened #443 "while using token exchange preview i am getting following error >> Error: openid client with name realm-management does not exist"
Error: openid client with name realm-management does not exist

[2020-11-26 17:27] Ankitchandre commented on #443
used the follwing block >>>

resource "keycloak_identity_provider_token_exchange_scope_permission" "oidc_idp_permission" {
  realm_id       = keycloak_realm.token-exchange_realm.id
  provider_alias = keycloak_oidc_identity_provider.token-exchange_my_oidc_idp.alias
  policy_type    = "client"
  clients        = [keycloak_openid_client.token-exchange_webapp_client.id]
}

[2020-12-01 15:34] mrparkers commented on #443
Hi @Ankitchandre - I don't personally use this feature of Keycloak, so my answer may not be correct, but I believe that this is because all of these permissions live within the built-in `realm-management` client for the realm you're using.

This client is automatically created when you create the realm.  So if this client doesn't exist for you, it was probably deleted.  I think you should try crea

[2020-12-01 15:44] mrparkers commented on #439
Hey @pavankumarkatakam, thanks for the feature request.  It looks like docker clients are much simpler than oidc or saml clients, so this should be a pretty easy feature to complete.  I can take another look when I have time (which I don't have much of lately), or I can leave this open for someone else to tackle as a good first issue.

[2020-12-01 15:48] mrparkers commented on #442
Hey @splatch.  This is a good question, and it's actually something that the Terraform core devs have been considering for a while.

Unfortunately, there isn't currently a perfect way to automatically generate Terraform code from an existing Keycloak deployment.  The closest thing there is right now is a project called [terraformer](https://github.com/GoogleCloudPlatform/terraformer).  Right now,

[2020-12-01 16:30] splatch commented on #442
@mrparkers Thank you very much for pointing out the terraformer support. I was aware of the terraformer existence but didn't know about keycloak module. It seems to be exactly what I been looking for. While it might not support all of the narrow elements it seems to automate most of the work needed to get started.

[2020-12-01 16:30] #442 closed

[2020-12-01 17:17] #440 closed

[2020-12-01 18:46] tomrutsaert commented on #443
realm-management client is indeed a client that is by default always present.
This client gets authorization automatically enabled and this is where the idp permission actually lives, as stated by mrparkers.

So the only reason i can imagine  you get this error, is when the provider can not find the client while we expect that it is always there.

[2020-12-03 17:00] #432 closed

[2020-12-04 01:50] AnjuHiruma opened #446 "There is no way to set AuthorizationServicesEnabled for OpenIDClient"
I want to set `Authorization Enabled` in the`keycloak_openid_client` settings to `true` when creating an`keycloak_openid_client` resource.

[The documentation](https://mrparkers.github.io/terraform-provider-keycloak/resources/keycloak_openid_client/) didn't have that setting.
Looking at the keycloak API reference, the "AuthorizationServicesEnabled" setting was present.
[API](https://www.keycloak.o

[2020-12-10 11:52] AdrienFromToulouse opened #447 "[SAML client] - missing `authentication_flow_binding_overrides` property"
Hi,

It seems that authentication_flow_binding_overrides is missing in the set of properties of a SAML client.

Will try my luck on a PR for that, should be ISO to what is done on the OIDC client

Cheers,

[2020-12-10 15:23] #435 closed

[2020-12-23 02:49] chensunny opened #449 "[panic] when use an non-exist user for data resource"
[code]

**when bob3@domain.com  is non-exist**

[code]

[2020-12-30 14:40] StatueFungus opened #450 "[keycloak_role] Missing attribute "attributes""
The keycloak_role resource is missing the attribute "attributes" like the keycloak_user and keycloak_group have.
I want to do something like this:

[code]

**Current behavior:**
[code]

**Expected behavior:**
Support to add attributes to a keycloak_role resource

[2021-01-04 11:28] lemaral opened #451 "Multivalued user attributes mapping"
While using Multivalued user attributes mapping with ## delimiter as described in https://lists.jboss.org/pipermail/keycloak-user/2015-October/003493.html, if this value is set in the console: value1##value2, using the same value in terraform will show a difference, and none if the ## delimiter is removed (value1value2)
resource keycloak_user user {
  attributes = {
    somevalues = "value1##value

[2021-01-08 19:34] PaulGgithub opened #454 "[keycloak_custom_user_federation] config not allowing commas"
If the `config` from `keycloak_custom_user_federation` contains a comma, the plugin will ignore everything after the comma from that config.

Example:
[code]

Debug (note `"configWithComma":["this works"]`):
[code]

This is most likely caused by splitting the config from comma [here](https://github.com/mrparkers/terraform-provider-keycloak/blob/master/provider/resource_keycloak_custom_user_federat

[2021-01-08 21:25] tomrutsaert commented on #454
I have no idea,
Has been a while.
Is most likely a mistake and thus a bug.
Feel free to make PR to change this behaviour and make test to proof it works

[2021-01-09 09:47] AdrienFromToulouse opened #456 "[Question] - when is the next release coming?"
Hi @mrparkers ,

there are many interesting things into Master as the moment that I would like to benefit from.

When do you plan to release the next version?

Thanks again for your work on this provider 👍

Cheers 😷

[2021-01-10 06:55] mrparkers commented on #456
Hey @AdrienFromToulouse, I just merged #452 which was the main blocker for the next release.  tomorrow, I'm going to spend some time merging open PRs that look good and cut a release.

apologies for the long wait!

[2021-01-10 15:39] moisei opened #457 "Can't delete broken KC instance"
My KC instance is one of the resources in my TF script. The problem, if the instance is broken for some reason, I can't delete or recreate it, so basically, my entire infrastructure provided with this script can't be controlled by the TF anymore.
A simple way to reproduce:
- Deploy KC with TF using terraform-provider-keycloak provider
- delete KC instance manually
- `terraform destroy`:
[code]

[2021-01-10 18:01] mrparkers commented on #457
This doesn't seem like a provider issue to me.

Terraform keeps track of resources its aware of in state.  If you delete these resources manually, Terraform doesn't have a way to know that this happened without some assistance.  You can use `terraform state rm` to remove a resource from state if it no longer exists.  The Keycloak provider actually handles some of these cases for you - when we atte

[2021-01-10 18:01] #457 closed

[2021-01-10 19:13] #454 closed

[2021-01-10 20:41] #447 closed

[2021-01-10 23:30] mrparkers commented on #456
https://github.com/mrparkers/terraform-provider-keycloak/releases/tag/v2.1.0 🚀

[2021-01-10 23:30] #456 closed

[2021-01-11 17:44] moisei commented on #457
@mrparkers , Thank you for the quick reply. Indeed, the manual deletion is just an easy way to describe and to reproduce the issue.
The real problem is that if the authentication realm is broken for some reason then all the further update or destroy operations of the dependant resources are not possible anymore.  I agree it might be not the KK provider issue though

[2021-01-11 18:46] mrparkers commented on #457
Yeah, if you think that's the issue, then there's definitely nothing the provider can do about that.  Successful authentication is the first step to managing any resources in Keycloak at all.

I wish you luck in getting your authentication realm restored!

[2021-01-12 05:07] #424 closed

[2021-01-12 05:22] mrparkers commented on #343
this seems to no longer be an issue on v2.1.0 of the provider.  I tested your example against keycloak 12 and it seems to be working.  if this is still an issue, feel free to comment again and I'll reopen this.

[2021-01-12 05:22] #343 closed

[2021-01-12 05:28] mrparkers commented on #451
I don't seem to have this issue on the latest version of the provider, testing against Keycloak 12.  Here's what I tried:

[code]

This configuration seems to work, and multiple runs of `terraform apply` shows no diff.

Can you try this again and see if you're still experiencing a problem?

[2021-01-12 05:43] mrparkers commented on #449
thanks for reporting this, I've opened a PR to fix it.

[2021-01-12 05:49] #449 closed

[2021-01-12 09:22] moisei commented on #457
@mrparkers I am doing more tests, and I think still there is something that could be fixed in the provider implementation.
`keycloak_realm` should know to wait for the master realm to be initialized. Currently, it just fails if the master realm is not available.
We worked around this issue by using a custom shell script querying the `https://${keycloak_host}/auth/realms/master/protocol/openid-conn

[2021-01-12 10:41] Filirom1 opened #461 "Malformed version with RedHat SSO"
Hello,

Using RedHat SSO I have the following errors, when doing a terraform plan:

[code]

Or on another cluster

[code]

It seems to be related to:

https://github.com/mrparkers/terraform-provider-keycloak/commit/25c8029904705565aa00f110749856a3041cca19

Kind regards
Romain

[2021-01-12 16:08] #461 closed

[2021-01-13 15:36] thomasdarimont opened #463 "Add support for configuration of client scopes on realm level"
Keycloak allows to configure default client-scope mappings on realm level that are used as default scope configuration for clients.

Keycloak supports two variants:
- default default client scopes: client-scopes that are assigned to a client by default
- default optional client scopes: client-scopes that can be optionally requested by a client

The respective attributes in the [RealmRepresentation

[2021-01-15 12:31] DuncanvR commented on #375
That isn't the case for all providers, e.g. [the official one for Kubernetes](https://github.com/hashicorp/terraform-provider-kubernetes). I have a working configuration in which I create a Kubernetes cluster in Azure and use its output in the `provider` block for connecting to Kubernetes. Then within the cluster I create a deployment of Keycloak, which I was hoping to manage using this provider.

[2021-01-17 06:23] AdrienFromToulouse opened #465 "[DOC]- missing doc for `resource_keycloak_authentication_subflow`"
The doc is missing for the `authentication_subflow` resource.

[2021-01-17 08:03] AdrienFromToulouse opened #466 "[DATA] - data `keycloak_authentication_flow` is missing"
Would be handy for `authentication_flow_binding_overrides` in clients.

[2021-01-17 08:17] tomrutsaert commented on #466
Is available:

[code]

[2021-01-17 08:21] tomrutsaert commented on #465
You are right, this is missing.
An example can be found in the example files: https://github.com/mrparkers/terraform-provider-keycloak/blob/d2ea86004d263a5139bbb55df7ac174279729bd3/example/main.tf#L848
Please feel free to make a PR to add this to documentation.

[2021-01-17 15:04] tomrutsaert commented on #466
sorry, I misinterpreted your request, I just read the description and not the title.
Would indeed be handy.

[2021-01-18 06:32] AdrienFromToulouse commented on #466
👋 @tomrutsaert, yep will try to work on it soon.

[2021-01-18 06:33] AdrienFromToulouse commented on #465
Indeed I could find the example by searching the repo.

yep will do within this week 👍

[2021-01-18 15:00] guiadco commented on #461
I'm sorry to ask but is'that possible to generate a new release to use the provider ? because i have the same issue on your latest release 2.1.0 :)

[2021-01-20 10:40] RubenAtPA opened #467 "Configuring keycloak realm results in timeout failure"
We want to configure the keycloak deployment using this provider. However it fails every time with a timeout error. We've already tried setting the `TF_REGISTRY_CLIENT_TIMEOUT` value to 30 seconds, but it already fails long before that. The problem is that the realm itself has been created and when running the plan/apply again it fails because of a conflict.

[code]

How can this be resolved?

OS

[2021-01-20 12:07] kaveenr commented on #467
I'm getting the same Issue as well :(

[2021-01-20 15:43] mrparkers commented on #467
Hey @RubenAtPA and @kaveenr - sorry about the issue you're having.

Just so I understand, your issue is that the realm creation takes too long, causing the provider to time out, and a follow-up plan/apply to fail with a 409 conflict?

For the first issue, you can try setting the [`client_timeout`](https://registry.terraform.io/providers/mrparkers/keycloak/latest/docs#client_timeout) provider attri

[2021-01-23 20:57] #463 closed

[2021-01-23 21:38] mrparkers commented on #467
I went ahead and increased the default timeout in #469

[2021-01-25 08:19] RubenAtPA commented on #467
Thanks @mrparkers.
We configured it with 30 seconds, just be safe, and it did seem to work a lot better now. We do still have one issue left, but I think that is something that should be in it's own issue.

The provider is highly dependent on the existence of the keycloak server deployment and it will fail if it's not there. Within our terraform however we also configure the deployments, including

[2021-01-25 11:00] thomasdarimont opened #470 "Support for Scope configuration on realm level is incomplete"
In PR #464 we introduced support for the configuration of client scopes on realm level.

As it turned out this was not complete and needs to be reworked.
- [`clientScopes`](https://github.com/keycloak/keycloak/blob/eacc95b6998cd16d8a0574660946ee7d8727b527/core/src/main/java/org/keycloak/representations/idm/RealmRepresentation.java#L147) need to be provided as a list of [ClientScopeRepresentation](

[2021-01-26 14:10] maxlegault commented on #358
@mrparkers would there be by any chance a github identity provider also available but not documented?

[2021-01-26 14:39] maxlegault commented on #358
Turns out there's some magic when the identity provider has "github" as an alias & provider_id :)

[code]

[2021-01-26 14:42] tomrutsaert commented on #358
If you are missing any variable, you can add them via

[code]

[2021-01-26 14:53] maxlegault opened #471 "Add support for social identity providers attribute import"
I'm trying to replicate an Identity Provider Mapper configuration I have where I import the `avatar_url` field from my `github` idp, but it seems like only `saml` and `oidc` are currently supported as provider ids for attribute imports. It would be very useful for me to be able to configure attribute importers for the non-oidc social providers.

Here's the resource I'm trying to create:
[code]

Th

[2021-01-26 15:00] maxlegault commented on #471
I'd be glad to make a contribution, from what I see we'd need to check not only for "oidc" but also "github" on this line here to get the claim https://github.com/mrparkers/terraform-provider-keycloak/blob/18bdbd60144feeea0c1637560743d3c0347f8027/provider/resource_keycloak_attribute_importer_identity_provider_mapper.go#L69

I'm guessing we'd probably want to add support for all other social provid

[2021-01-26 15:58] mrparkers commented on #471
I think checking for `"github"` there is fine for now.  I usually add support for this on a case by case basis since it's hard to test some of these without having a bit more knowledge about the provider itself.  I should be able to test the GitHub one just fine though.

I'd be willing to merge a PR that makes this change if you're willing to submit it 🚀

[2021-01-26 16:15] mrparkers commented on #467
Have you tried setting the `initial_login` provider attribute to `false`?  This delays the provider initialization until the first time Terraform attempts to create a resource or read from a data source.  It was added specifically so you could deploy Keycloak using something like the `helm_release` resource, and then configure Keycloak using this provider, all in one run of `terraform apply`.

[2021-01-26 18:58] maxlegault commented on #471
@mrparkers I just created PR #472 to address this issue.

[2021-01-27 15:33] embody opened #474 "Error creating keycloak_attribute_importer_identity_provider_mapper"
When I try to create a keycloak_attribute_importer_identity_provider_mapper for a keycloak_saml_identity_provider, Terraform runs into a crash. You can find the repo file in the main.txt attachment.
When I comment out the mapper on the first apply, the Identity Provider is created. If I now uncomment the mapper and apply again, the mapper is created correctly.
But if I try to apply both together,

[2021-01-31 14:13] lemaral commented on #451
Thanks for trying, the problem is that the provider is not creating a multivalues attribute, the keycloak console is, through the use of the ## separator. If you set the attribute value to value1##value2 using the console, it will show as value1value2 in the provider. This is with the latest version of the provider and keycloak 11.0.2 (I don't think using keycloak 12 would change anything)

[2021-02-02 02:35] Magnitus- opened #477 "Wondering if There is A Way to Enable Registration Recaptcha"
Thank you for this module, its been wonderful so far. I suspect I might have stumbled upon my first requirement that I cannot automate with the module.

I'm attempting to enable recaptcha, as explained here: https://www.keycloak.org/docs/latest/server_admin/#_recaptcha

However, we're essentially dealing with a pre-existing authentication flow and authentication execution.

I can configure it:

[c